{{ template "snippets/header.html" . }}

<h2>Follow {{ .Profile.Name }}</h2>

<form id="form-memo-follow" method="post">
    <p>
        <input id="address" type="hidden" name="address" value="{{ .Profile.GetAddressString }}"/>
    </p>
    <p>
        <input class="btn btn-primary" type="submit" value="Follow">
        <a class="btn btn-default" href="profile/{{ .Profile.GetAddressString }}">Cancel</a>
    </p>
</form>

<script type="text/javascript">
    $(function () {
        MemoApp.Form.Follow($("#form-memo-follow"));
    });
</script>

{{ template "snippets/footer.html" . }}
