{{ template "snippets/header.html" . }}

<h2>Like Memo</h2>

{{ template "snippets/post.html" dict "Post" .Post "Compress" true "TimeZone" .TimeZone }}

<form id="form-memo-like" method="post">
    <p>
        <input id="tx-hash" type="hidden" name="tx-hash" value="{{ .Post.Memo.GetTransactionHashString }}"/>
    </p>
    <p>
        <label for="tip">Optional tip (min. 546)</label>
        <input id="tip" type="text" name="tip" class="form-control" placeholder="0">
    </p>
    <p>
        <input class="btn btn-primary" type="submit" value="Like">
        <a class="btn btn-default" href="post/{{ .Post.Memo.GetTransactionHashString }}">Cancel</a>
    </p>
</form>

<script type="text/javascript">
    $(function () {
        MemoApp.Form.Like($("#form-memo-like"));
    });
</script>

{{ template "snippets/footer.html" . }}
