{{ template "snippets/header.html" . }}

<h2>New Memo</h2>

<form id="new-memo-form" method="post">
    <p>
        <label for="message">{{ T "message" }} <span class="message-byte-count byte-count"></span></label>
        <textarea id="message" type="text" name="message" class="form-control" placeholder="Message" required></textarea>
    </p>
    <p>
        <input class="btn btn-primary" type="submit" value="{{ T "post" }}">
    </p>
</form>

<script type="text/javascript">
    $(function () {
        MemoApp.Form.NewMemo($("#new-memo-form"));
    });
</script>

{{ template "snippets/footer.html" . }}
