{{ $tz := .TimeZone }}
{{ template "snippets/header.html" . }}

<br/>

{{ template "snippets/post.html" dict "Post" .Post "Compress" false "TimeZone" .TimeZone "UserSettings" .UserSettings }}

{{ if .Post.Likes }}

<p>
{{ len .Post.Likes }} likes - <a href="#" id="show-hide-likes">Show</a>
</p>

<div id="likes" style="display:none">
    <h3>Likes</h3>

    <ul>
    {{ range .Post.Likes }}
        <li>
            Liked by <a href="profile/{{ .GetAddressString }}">{{ $len := len .Name }}{{ if gt $len 0 -}}
            {{ .Name }}
        {{- else -}}
            {{ .GetAddressString }}
        {{- end }}</a> - {{ formatBigInt .Amount }} satoshis
            ({{ .GetTimeString $tz }})
            <a target="_blank"
               href="https://explorer.bitcoin.com/bch/tx/{{ .GetTransactionHashString }}">View on Block Explorer</a>
        </li>
    {{ end }}
    </ul>
</div>

<script type="text/javascript">
    $(function () {
        MemoApp.Form.LikesToggle($("#show-hide-likes"), $("#likes"));
    });
</script>

{{ end }}


{{ if .Post.Replies }}

<h3>Replies</h3>

{{ if and (eq .NextOffset 25) (lt (len .Post.Replies) 25) }}{{ else }}
<p class="pagination">
    <a class="{{ if eq .NextOffset 25 }}disabled{{ end }}" href="post/{{ .Post.Memo.GetTransactionHashString }}?offset={{ .PrevOffset }}">&lt; Prev</a>
    <span class="page">Page {{ .Page }}</span>
    <a class="{{ if lt (len .Post.Replies) 25 }}disabled{{ end }}" href="post/{{ .Post.Memo.GetTransactionHashString }}?offset={{ .NextOffset }}">Next &gt;</a>
</p>
{{ end }}

{{ template "snippets/posts.html" dict "Posts" .Post.Replies "TimeZone" .TimeZone "UserSettings" .UserSettings }}

{{ if and (eq .NextOffset 25) (lt (len .Post.Replies) 25) }}{{ else }}
<p class="pagination">
    <a class="{{ if eq .NextOffset 25 }}disabled{{ end }}" href="post/{{ .Post.Memo.GetTransactionHashString }}?offset={{ .PrevOffset }}">&lt; Prev</a>
    <span class="page">Page {{ .Page }}</span>
    <a class="{{ if lt (len .Post.Replies) 25 }}disabled{{ end }}" href="post/{{ .Post.Memo.GetTransactionHashString }}?offset={{ .NextOffset }}">Next &gt;</a>
</p>
{{ end }}

{{ end }}

<br/>

{{ template "snippets/footer.html" . }}
