{{ $tz := .TimeZone }}
{{ template "snippets/header.html" . }}

<h2>Memo</h2>

{{ template "snippets/post.html" dict "Post" .Post "Compress" false "TimeZone" .TimeZone }}

{{ if .Post.Likes }}

<p>
{{ len .Post.Likes }} likes - <a href="#" id="show-hide-likes">Show</a>
</p>

<div id="likes" style="display:none">
    <h3>Likes</h3>

    <ul>
    {{ range .Post.Likes }}
        <li>
            Liked by <a href="profile/{{ .GetAddressString }}">{{ $len := len .Name }}{{ if gt $len 0 -}}
            {{ .Name }}
        {{- else -}}
            {{ .GetAddressString }}
        {{- end }}</a> - {{ formatBigInt .Amount }} satoshis
            ({{ ($tz | .GetTimeString) }})
            <a target="_blank"
               href="https://explorer.bitcoin.com/bch/tx/{{ .GetTransactionHashString }}">View on Block Explorer</a>
        </li>
    {{ end }}
    </ul>
</div>

<script type="text/javascript">
    $(function () {
        MemoApp.Form.LikesToggle($("#show-hide-likes"), $("#likes"));
    });
</script>

{{ end }}


{{ if .Post.Replies }}

<h3>Replies</h3>

{{ template "snippets/posts.html" dict "Posts" .Post.Replies "TimeZone" .TimeZone }}

{{ end }}

{{ template "snippets/footer.html" . }}
