{{ template "snippets/header.html" . }}

<h2>Memo</h2>

{{ template "snippets/post.html" dict "Post" .Post "Compress" false }}

{{ if .Post.Likes }}
<h3>Likes</h3>

<ul>
{{ range .Post.Likes }}
<li>
    <a href="profile/{{ .GetAddressString }}">{{ .Name }} - {{ formatBigInt .Amount }} satoshis</a>
    ({{ .GetTimeString }})
    <a target="_blank"
       href="https://blockchair.com/bitcoin-cash/transaction/{{ .GetTransactionHashString }}">View on Blockchair</a>
</li>
{{ end }}
</ul>
{{ end }}

{{ template "snippets/footer.html" . }}
