{{ template "snippets/header.html" . }}

<div class="col-md-6 col-md-offset-3">

    <h2>Set Name</h2>

    <form id="form-memo-set-name" method="post">
        <p>
            <label for="name">Name <span class="message-byte-count byte-count"></span></label>
            <input id="name" type="text" name="name" class="form-control" placeholder="Name" required/>
        </p>
        <p>
            <input class="btn btn-primary" type="submit" value="Set Name">
            <a class="btn btn-default" href="/">Cancel</a>
        </p>
    </form>

</div>

<script type="text/javascript">
    $(function () {
        MemoApp.Form.SetName($("#form-memo-set-name"));
    });
</script>

{{ template "snippets/footer.html" . }}
