{{ template "snippets/header.html" . }}

<div class="col-md-6 col-md-offset-3">

    <h2>{{ T "set_profile" }}</h2>

    <form id="form-memo-set-profile" method="post">
        <p>
            <label for="profile">{{ T "profile_text" }} <span class="message-byte-count"></span></label>
            <textarea id="profile" name="profile" class="form-control" placeholder="{{ T "profile_text" }}"
                      autocomplete="on"
                      required autofocus></textarea>
        </p>
        <p>
            <input class="btn btn-primary" type="submit" value="{{ T "set_profile" }}">
            <a class="btn btn-default" href="/">Cancel</a>
        </p>
    </form>

</div>

<script type="text/javascript">
    $(function () {
        MemoApp.Form.SetProfile($("#form-memo-set-profile"));
    });
</script>

{{ template "snippets/footer.html" . }}
