{{ template "snippets/header.html" . }}

<h2>Unfollow {{ .Profile.Name }}</h2>

<form id="form-memo-unfollow" method="post">
    <p>
        <input id="address" type="hidden" name="address" value="{{ .Profile.GetAddressString }}"/>
    </p>
    <p>
        <input class="btn btn-primary" type="submit" value="Unfollow">
        <a class="btn btn-default" href="profile/{{ .Profile.GetAddressString }}">Cancel</a>
    </p>
</form>

<script type="text/javascript">
    $(function () {
        MemoApp.Form.Unfollow($("#form-memo-unfollow"));
    });
</script>

{{ template "snippets/footer.html" . }}
