{{ template "snippets/header.html" . }}

{{ $settings := .UserSettings }}

<br/>

<form>
    <input id="profile-search" class="form-control" type="text" placeholder="Search - enter username"/>
</form>

<div id="profile-list">
{{ range .Profiles }}
{{ if .NameSet }}
    <p data-address="{{ .Name }} {{ .GetAddressString }}">
                <span class="identicon-{{ .GetAddressString }}">
                    <img class="identicon"/>
                </span>
        <a href="/profile/{{ .GetAddressString }}">{{ .Name }} ({{ .GetAddressString }})</a>
    </p>
{{ else }}
    <p data-address="{{ .GetAddressString }}">
        <a href="/profile/{{ .GetAddressString }}">{{ .GetAddressString }}</a>
    </p>
{{ end }}
    <script type="text/javascript">
        (function () {
            var foreground = {{ if eq $settings.Theme "dark" }}[224, 224, 224, 255]{{ else }}[0, 0, 0, 255]{{ end }};
            var background = [0, 0, 0, 0];
            var data = new Identicon('{{ .GetAddressString }}', {
                foreground: foreground,
                background: background,
                size: 24,
                form: 'svg',
                margin: 0
            }).toString();
            $(".identicon-{{ .GetAddressString }}").html('<img class="identicon" src="data:image/png;base64,' + data + '">');
        })();
    </script>
{{ end }}
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#profile-search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#profile-list p").filter(function () {
                $(this).toggle($(this).attr("data-address").toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{{ template "snippets/footer.html" . }}
