{{ template "snippets/header.html" . }}

<p>
    <a href="profile/{{ .Profile.GetAddressString }}">Back to {{ .Profile.Name }}'s Profile</a>
</p>

{{ if not .Following }}
<h3>{{ .Profile.Name }} is not following anyone yet</h3>
{{ else }}
<h3>{{ .Profile.Name }} is Following</h3>
{{ end }}

{{ if and (eq .NextOffset 25) (lt (len .Following) 25) }}{{ else }}
<div>
    <a class="{{ if eq .NextOffset 25 }}disabled{{ end }}" href="{{ .OffsetLink }}?offset={{ .PrevOffset }}">
        &lt; {{ T "previous" }}</a>
    <span class="page">{{ T "page" }} {{ .Page }}</span>
    <a class="{{ if lt (len .Following) 25 }}disabled{{ end }}" href="{{ .OffsetLink }}?offset={{ .NextOffset }}">
    {{ T "next" }} &gt;</a>
</div>
{{ end }}

{{ if .Following }}
<br/>
<table class="table">
    <thead>
    <tr>
        <th>{{ T "name" }}</th>
        <th>{{ T "address" }}</th>
        <th>{{ T "connections" }}</th>
    </tr>
    </thead>
    <tbody>

    {{ range .Following }}
    <tr>
        <td>
            <a href="/profile/{{ .GetAddressString }}">
            {{ .Name }}
            </a>
        </td>
        <td>
            <a href="/profile/{{ .GetAddressString }}">
            {{ .GetAddressString }}
            </a>
        </td>
        <td>
        {{ if .Reputation }}
        {{ .Reputation.GetPercentStringIncludingDirect }}
        {{ end }}
        </td>
        </a>
    </tr>
    {{ end }}
    </tbody>
</table>
<br/>
{{ end }}

{{ if and (eq .NextOffset 25) (lt (len .Following) 25) }}{{ else }}
<div>
    <a class="{{ if eq .NextOffset 25 }}disabled{{ end }}" href="{{ .OffsetLink }}?offset={{ .PrevOffset }}">
        &lt; {{ T "previous" }}</a>
    <span class="page">{{ T "page" }} {{ .Page }}</span>
    <a class="{{ if lt (len .Following) 25 }}disabled{{ end }}" href="{{ .OffsetLink }}?offset={{ .NextOffset }}">
    {{ T "next" }} &gt;</a>
</div>
{{ end }}

<br/>

{{ template "snippets/footer.html" . }}
