{{ template "snippets/header.html" . }}

<p>
    <a href="profile/{{ .Profile.GetAddressString }}">Back to {{ .Profile.Name }}'s Profile</a>
</p>

{{ if not .Followers }}
<h3>No one is following {{ .Profile.Name }} yet</h3>
{{ else }}
<h3>Following {{ .Profile.Name }}</h3>
{{ end }}

{{ if and (eq .NextOffset 25) (lt (len .Followers) 25) }}{{ else }}
<div>
    <a class="{{ if eq .NextOffset 25 }}disabled{{ end }}" href="{{ .OffsetLink }}?offset={{ .PrevOffset }}">
        &lt; Prev</a>
    <span class="page">Page {{ .Page }}</span>
    <a class="{{ if lt (len .Followers) 25 }}disabled{{ end }}" href="{{ .OffsetLink }}?offset={{ .NextOffset }}">
        Next &gt;</a>
</div>
{{ end }}

{{ if .Followers }}
<br/>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Reputation</th>
    </tr>
    </thead>
    <tbody>

    {{ range .Followers }}
    <tr>
        <td>
            <a href="/profile/{{ .GetAddressString }}">
            {{ .Name }}
            </a>
        </td>
        <td>
            <a href="/profile/{{ .GetAddressString }}">
            {{ .GetAddressString }}
            </a>
        </td>
        <td>
        {{ if .Reputation }}
        {{ .Reputation.GetPercentStringIncludingDirect }}
        {{ end }}
        </td>
        </a>
    </tr>
    {{ end }}
    </tbody>
</table>
<br/>
{{ end }}

{{ if and (eq .NextOffset 25) (lt (len .Followers) 25) }}{{ else }}
<div>
    <a class="{{ if eq .NextOffset 25 }}disabled{{ end }}" href="{{ .OffsetLink }}?offset={{ .PrevOffset }}">
        &lt; Prev</a>
    <span class="page">Page {{ .Page }}</span>
    <a class="{{ if lt (len .Followers) 25 }}disabled{{ end }}" href="{{ .OffsetLink }}?offset={{ .NextOffset }}">
        Next &gt;</a>
</div>
{{ end }}

<br/>

{{ template "snippets/footer.html" . }}
