{{ template "snippets/header.html" . }}

<h2>Profile</h2>

{{ template "snippets/profile.html" .Profile }}

{{ template "snippets/following.html" .Profile.Following }}

{{ template "snippets/followers.html" .Profile.Followers }}

{{ if not .Posts }}
<h3>No Posts Yet</h3>
{{ else }}
<h3>Posts</h3>
{{ end }}

{{ template "snippets/posts.html" .Posts }}

{{ if .Likes }}
<h3>Likes</h3>

<ul>
{{ range .Likes }}
    <li>
        Liked <a href="post/{{ .GetPostTransactionHashString }}">{{ .Name }}'s post</a>
        - {{ formatBigInt .Amount }} satoshis
        ({{ .GetTimeString }})
        <a target="_blank"
           href="https://blockchair.com/bitcoin-cash/transaction/{{ .GetTransactionHashString }}">View on Blockchair</a>
    </li>
{{ end }}
</ul>
{{ else }}
<h3>This User Hasn't Liked Anything Yet</h3>
{{ end }}

{{ template "snippets/footer.html" . }}
