{{ template "snippets/header.html" . }}

{{ $settings := .UserSettings }}

<div class="col-md-8 col-md-offset-2">

    <h2 class="center">{{ T "Notifications" }}</h2>

{{ if and (eq .NextOffset 25) (lt (len .Notifications) 25) }}{{ else }}
    <p class="pagination">
        <a class="{{ if eq .NextOffset 25 }}disabled{{ end }}" href="notifications?offset={{ .PrevOffset }}">
            &lt; {{ T "previous" }}</a>
        <span class="page">{{ T "page" }} {{ .Page }}</span>
        <a class="{{ if eq (len .Notifications) 0 }}disabled{{ end }}" href="notifications?offset={{ .NextOffset }}">
        {{ T "next" }} &gt;</a>
    </p>
{{ end }}

    <table class="table table-striped notifications-table">
        <tbody>
        {{ range .Notifications }}
        <tr>
        {{ if .IsLike }}
            <td class="like">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            </td>
            <td>
                <span class="identicon-{{ .GetAddressString }}">
                    <img class="identicon"/>
                </span>
                <a href="profile/{{ .GetAddressString }}" class="name">{{ .Generic.GetName }}</a> liked your
                <a href="post/{{ .GetPostHashString }}">post</a>
            {{ if gt .GetTipAmount 0 }}
                <span class="tip">(tip: {{ formatBigInt .GetTipAmount }} satoshis)</span>
            {{ end }}
                <span class="time-ago">{{ .GetTimeAgo }}</span>
                <div class="notify-post">
                    <a href="post/{{ .GetPostHashString }}">{{ .GetPostMessage }}</a>
                </div>
            </td>
        {{ else if .IsReply }}
            <td class="reply">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            </td>
            <td>
                <span class="identicon-{{ .GetAddressString }}">
                    <img class="identicon"/>
                </span>
                <a href="profile/{{ .GetAddressString }}" class="name">{{ .Generic.GetName }}</a>
                <a href="post/{{ .GetPostHashString }}">replied</a> to your
                <a href="post/{{ .GetParentHashString }}">post</a>
                <span class="time-ago">{{ .GetTimeAgo }}</span>
                <div class="notify-post">
                    <a href="post/{{ .GetParentHashString }}">{{ .GetParentMessage }}</a>
                    <div class="reply">
                        <a href="post/{{ .GetPostHashString }}">{{ .GetPostMessage }}</a>
                    </div>
                </div>
            </td>
        {{ else if .IsNewFollower }}
            <td class="new-follower">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </td>
            <td>
                <span class="identicon-{{ .GetAddressString }}">
                    <img class="identicon"/>
                </span>
                <a href="profile/{{ .GetAddressString }}" class="name">{{ .Generic.GetName }}</a>
                followed you.
                <span class="time-ago">{{ .GetTimeAgo }}</span>
            </td>
        {{ end }}
        </tr>
        <script type="text/javascript">
            (function () {
                var foreground = {{ if eq $settings.Theme "dark" }}[224, 224, 224, 255]{{ else }}[0, 0, 0, 255]{{ end }};
                var background = [0, 0, 0, 0];
                var data = new Identicon('{{ .GetAddressString }}', {
                    foreground: foreground,
                    background: background,
                    size: 24,
                    form: 'svg',
                    margin: 0
                }).toString();
                $(".identicon-{{ .GetAddressString }}").html('<img class="identicon" src="data:image/png;base64,' + data + '">');
            })();
        </script>
        {{ end }}
        </tbody>
    </table>

{{ if and (eq .NextOffset 25) (lt (len .Notifications) 25) }}{{ else }}
    <p class="pagination">
        <a class="{{ if eq .NextOffset 25 }}disabled{{ end }}" href="notifications?offset={{ .PrevOffset }}">
            &lt; {{ T "previous" }}</a>
        <span class="page">{{ T "page" }} {{ .Page }}</span>
        <a class="{{ if eq (len .Notifications) 0 }}disabled{{ end }}" href="notifications?offset={{ .NextOffset }}">
        {{ T "next" }} &gt;</a>
    </p>
{{ end }}

</div>

{{ template "snippets/footer.html" . }}
