body {
    overflow-y: scroll;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /* Fix for text-size-adjust being ignored: https://bugs.webkit.org/show_bug.cgi?id=FontBoosting */
    max-height: 1000000px;
    padding: 0;
    margin: 0;
    background: rgba(0,0,0,0.03);
}
html {
    font-family: sans-serif;
}

a {
    color: #005;
}

h1 {
    margin-bottom: 10px;
}
h1 a {
    text-decoration: none;
    color: #000;
}
h1 a img {
    display: inline-block;
    vertical-align: bottom;
    width: 40px;
    height: 40px;
}

input, textarea, select {
    padding: 5px 7px;
    border: 1px solid #000;
    font-size: 14px;
    vertical-align: top;
}

input[type=text],
input[type=password] {
    min-width: 350px;
    border-radius: 8px;
}

textarea {
    font-family: sans-serif;
    min-width: 350px;
    min-height: 70px;
    border-radius: 8px;
}

label {
    display: inline-block;
    min-width: 175px;
    vertical-align: top;
    cursor: pointer;
}

hr.no-margin {
    margin: 0;
}

span.inline {
    display: inline-block;
}

input[type=button]:hover,
input[type=submit]:hover {
    cursor: pointer;
}

select {
    min-width: 150px;
}

table.table {
    width: 100%;
}
table.table,
table.table th,
table.table td {
    border-collapse: collapse;
    border: 0;
    border-radius: 8px;
}

table.table tbody tr:nth-child(2n-1) {
    background: rgba(0, 0, 0, 0.075);
}
table.table th,
table.table td {
    padding: 5px 7px;
    height: 38px;
}
table.sortable td.bars span {
    display: block;
    width: 20px;
    height: 2px;
    margin: 3px 0;
    background: #444;
}
table.sortable td.bars:hover {
    cursor: ns-resize;
}
table.inline {
    display: inline;
    border: none;
}
table.left th {
    text-align: left;
}

a.btn, input[type=submit].btn {
    display: inline-block;
    padding: 5px 9px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    background: rgba(84,141,29,0.2);
    box-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    border-radius: 11px;
    border: 1px solid rgba(84,141,29,0.0);
    margin: 5px 0;
}
a.btn-leave {
    color: #888;
    background: rgba(84,141,29,0.085);
}
a.btn.sel {
    border: 1px solid rgba(0,0,0,0.5);
}
a.btn.disabled {
    background: rgba(0,0,0,0.3);
    pointer-events: none;
    cursor: default;
}

a.disabled {
    pointer-events:none;
    color:#888;
    text-decoration: none;
}

.wrapper {
    background: #fff;
    padding: 1px 0;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    padding: 1px 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.header .header-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 5px 10px;
}
.header h1 {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 15px 0 0;
}
.header .nav {
    display: inline-block;
    vertical-align: bottom;
}
.nav {
    margin-top: 5px;
}
.nav a {
    color: #333;
    text-decoration: none;
    display: inline-block;
    margin: 5px 10px 5px 0;
}
.nav a.sel {
    text-decoration: underline;
}
.footer {
    padding: 1px 0;
    border-top: 1px solid rgba(0,0,0,0.2);
}
.footer .nav {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.post {
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    padding: 1px 10px;
    max-width: 775px;
    margin: 12px 0;
    border-radius: 11px;
    background: #dde8d4;
    word-wrap: break-word;
}
.post .post-header {
    background: #e4efdb;
    margin: 0 -10px 0 -10px;
    padding: 1px 10px 1px 10px;
    border-radius: 11px 11px 0 0;
}
.post .reply-header {
    margin: 5px 0 10px;
}
.post .name {
    margin: 5px 0;
    line-height: 22px;
    word-break: break-all;
}
.post .message {
    margin: 12px 0;
    font-size: 32px;
}
.post .likes {
    margin: 10px 0;
}
.post .actions {
    margin: 10px 0;
}
#notify {
    color: red;
    font-style: italic;
}
img.identicon {
    border: none;
    vertical-align: top;
    width: 18px;
    height: 18px;
    margin-right: 3px;
}
.profile .btn {
    word-break: break-all;
}
.profile .name {
    word-break: break-all;
}
.profile .address {
    word-break: break-all;
}
.profile #qr-code {
    margin-top: 5px;
}

.profile .click-for-qr {
    font-size: 12px;
}

.message-byte-count.red {
    color: red;
}
.posts-nav a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    margin-right: 10px;
}
.posts-nav a:hover,
.posts-nav a.sel {
    text-decoration: underline;
}
span.page {
    display: inline-block;
    margin: 0 10px;
}

.bottom10 {
    margin-bottom: 10px;
}

#about h3 {
    font-size: 1.1em;
    font-weight: bold;
}
.reputation-tooltip {
    position: relative;
}
.reputation-tooltip:hover > span {
    display: block;
}
.reputation-tooltip span {
    position: absolute;
    display: none;
    color: #000;
    background: #eee;
    border: 1px solid #333;
    top: 15px;
    left: 0;
    word-break: break-word;
    width: 250px;
    font-size: 12px;
    line-height: 16px;
    padding: 5px;
    text-align: left;
}
.reputation-tooltip:hover > span {
    display: block;
}
#broadcasting {
    display: none;
    padding: 12px 10px 0 10px;
}
#broadcasting.show {
    display: inline-block;
}
#password-clear {
    display: none;
    padding: 12px 10px 0 10px;
}
#password-clear.show {
    display: inline-block;
}
#all-posts {
    max-height: 50%;
    overflow: scroll;
}
.topic-post {
    border-radius: 8px;
    padding: 5px 10px;
}
.topic-post:nth-child(2n) {
    background: rgba(0,0,0,0.1);
}
.topic-post .identicon {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.topic-post .post-header,
.topic-post .post-header p {
    margin: 0;
}
.topic-post .name {
    font-weight: bold;
}
.topic-post .name a {
    display: inline-block;
    margin-right: 5px;
    color: #000;
    text-decoration: none;
}
.topic-post .name a:hover {
    text-decoration: underline;
}
.topic-post .name .time {
    font-weight: normal;
    font-size: 12px;
    color: #888;
}
.topic-post .reputation {
    display: inline-block;
    margin-right: 5px;
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
}
#password-clear {
    display: none;
}
