body {
    overflow-y: scroll;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /* Fix for text-size-adjust being ignored: https://bugs.webkit.org/show_bug.cgi?id=FontBoosting */
    max-height: 1000000px;
    padding: 0;
    margin: 0;
}
html {
    font-family: sans-serif;
}

a {
    color: #487521;
}

h1 {
    margin-bottom: 10px;
}
h1 a {
    text-decoration: none;
    color: #000;
}
h1 a img {
    display: inline-block;
    vertical-align: bottom;
    width: 40px;
    height: 40px;
}

label {
    display: inline-block;
    width: 175px;
    max-width: 100%;
    vertical-align: top;
    cursor: pointer;
}
iframe {
    display: block;
    width: 100%;
    margin: 10px auto;
}
video {
    display: block;
    width: 100%;
    margin: 10px auto;
}
.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}
.video-container iframe,
.video-container video {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}


hr.no-margin {
    margin: 0;
}

span.inline {
    display: inline-block;
}

input[type=button]:hover,
input[type=submit]:hover {
    cursor: pointer;
}

select {
    width: 150px;
    max-width: 100%;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}

/*table.table {
    width: 100%;
    background: rgba(0, 0, 0, 0.01);
}
table.table,
table.table th,
table.table td {
    border-collapse: collapse;
    border: 0;
    border-radius: 8px;
}

table.table th,
table.table td {
    padding: 5px 7px;
    height: 38px;
}*/
table.sortable td.bars span {
    display: block;
    width: 20px;
    height: 2px;
    margin: 3px 0;
    background: #444;
}
table.sortable td.bars:hover {
    cursor: ns-resize;
}
table.inline {
    display: inline;
    border: none;
}
table.left th {
    text-align: left;
}

a.btn.right {
    float: right;
}
a.btn-leave {
    color: #888;
    background: #eee;
}

a.disabled {
    pointer-events:none;
    color: #888;
    text-decoration: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar .logo {
    display: inline-block;
    width: 60px;
    height: 37px;
    margin-top: -3px;
    margin-right: 10px;
}
.navbar .dropdown img {
    widtH: 20px;
    height: 20px;
}
.navbar-brand {
    margin-right: 25px;
    padding: 10px 15px 20px;
    font-weight: bold;
}
.footer {
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.2);
}
.footer div {
    padding: 5px 0;
}
.footer div a {
    display: inline-block;
    margin: 0 10px;
}

/*.post {
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    padding: 1px 10px;
    max-width: 775px;
    margin: 12px 0;
    border-radius: 11px;
    background: #f4f4f4;
    word-wrap: break-word;
}*/
.posts {
    background: #f8f9fa;
    padding: 15px 0;
}
.post {
    background: #fff;
    padding: 10px 10px 0 10px;
    margin-bottom: 15px;
    word-wrap: break-word;
    border: 1px solid #ccc;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}
.post .name a:nth-of-type(1) {
    font-weight: bold;
}
/*.post .post {
    margin: 10px -8px 5px -4px;
}*/
/*.post .post-header {
    background: #d0d0d0;
    margin: 0 -10px 0 -10px;
    padding: 1px 10px 1px 10px;
    border-radius: 11px 11px 0 0;
}*/

.post .post {
    margin: 0 -9px 3px -7px;
}
.post .reply {
    margin: 5px 0 10px;
    border: 2px solid #aaa;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 11px;
}
.post .reply p {
    margin: 12px 0 5px;
}
.post .name {
    margin: 5px 0;
    line-height: 22px;
    word-break: break-all;
}
.post .message {
    margin: 12px 0;
    font-size: 32px;
}
.post .likes {
    margin: 10px 0;
}
.post .like {
    font-size: 12px;
    display: inline;
}
.post .like-form.hidden {
    display: none;
}
.post .like-form {
    display: inline-block;
}
/*.post .like-form {
    display: none;
    font-size: 12px;
    margin: 0;
}
.post .like-form a {
    display: inline-block;
}
.post .like-form label {
    width: unset;
    vertical-align: middle;
    margin: 0 5px 0 15px;
}
.post .like-form input {
    height: 28px;
    min-width: unset;
}
.post .like-form .like-cancel {
    margin-left: 10px;
    display: inline-block;
}
.post .like-form input[type=checkbox] {
    width: unset;
}*/
.post .like .broadcasting {
    display: none;
    margin-left: 15px;
}
.post .like .broadcasting.show {
    display: inline-block;
}
.post .actions {
    margin: 10px 0;
}
#notify {
    color: red;
    font-style: italic;
}
img.identicon {
    border: none;
    vertical-align: top;
    width: 18px;
    height: 18px;
    margin-right: 3px;
}
.profile .btn {
    word-break: break-word;
}
.profile .name {
    word-break: break-word;
}
.profile td:nth-child(2) {
    word-break: break-word;
}
.profile #qr-code {
    margin-top: 5px;
}
.profile #qr-code img {
    margin-top: 5px;
    height: 150px;
    width: 150px;
}

.profile .click-for-qr {
    font-size: 12px;
}

.message-byte-count.red {
    color: red;
}
.posts-nav {
    text-align: center;
}
.posts-nav a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    margin-right: 10px;
}
.posts-nav a:hover,
.posts-nav a.sel {
    text-decoration: underline;
}
span.page {
    display: inline-block;
    margin: 0 10px;
}

.pagination {
    display: block;
    text-align: center;
}
.pagination a {
    color: #000;
}
.pagination a.disabled {
    color: #888;
}

#about h3 {
    font-size: 1.1em;
    font-weight: bold;
}
.reputation-tooltip {
    position: relative;
}
.reputation-tooltip:hover > span {
    display: block;
}
.reputation-tooltip span {
    position: absolute;
    display: none;
    color: #000;
    background: #eee;
    border: 1px solid #333;
    top: 15px;
    left: 0;
    word-break: break-word;
    width: 250px;
    font-size: 12px;
    line-height: 16px;
    padding: 5px;
    text-align: left;
}
.reputation-tooltip:hover > span {
    display: block;
}
#broadcasting {
    display: none;
    padding: 12px 10px 0 10px;
}
#broadcasting.show {
    display: inline-block;
}
#password-clear {
    display: none;
    padding: 12px 10px 0 10px;
}
#password-clear.show {
    display: inline-block;
}
#all-posts {
    max-height: 50%;
    overflow-y: scroll;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
    border: 1px solid #ccc;
}
@-moz-document url-prefix() {
    #all-posts {
        height: 50%;
    }
}
.topics-table tr td:nth-child(1) {
    max-width: 400px;
}
.topics-table a {
    color: #000;
}
.topic-post {
    padding: 5px 10px 5px 40px;
    word-break: break-word;
    border-bottom: 1px solid #ccc;
}
.topic-post:nth-of-type(odd) {
    background: #f9f9f9;
}
.topic-post:last-of-type {
    border-bottom: none;
}
.topic-post .identicon {
    float: left;
    display: block;
    width: 24px;
    height: 24px;
    margin-top: 3px;
    margin-left: -32px;
}
.topic-post .post-wrapper {
    float: right;
    width: 100%;
}
.topic-post .post-header,
.topic-post .post-header p {
    margin: 0;
}
.topic-post .name {
    font-weight: bold;
}
.topic-post .name a {
    display: inline-block;
    margin-right: 5px;
    color: #000;
    text-decoration: none;
}
.topic-post .name a:hover {
    text-decoration: underline;
}
.topic-post .name .time {
    font-weight: normal;
    font-size: 12px;
    color: #888;
}
.topic-post .reputation {
    display: inline-block;
    margin-right: 5px;
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
}
.topic-post .like {
    font-size: 12px;
    display: inline-block;
}
.topic-post .like-info {
    font-style: italic;
}
.topic-post .reply-count {
    font-weight: normal;
}
.topic-post a.like-link {
    font-weight: normal;
    color: #888;
}
.topic-post .like-form {
    display: none;
    font-size: 12px;
}
.topic-post .like-form a {
    display: inline-block;
    padding-top: 4px;
}
.topic-post .like-form label {
    width: unset;
    padding-top: 4px;
}
.topic-post .like-form input {
    display: inline-block;
    width: 50px;
    margin: 0;
    vertical-align: top;
    min-width: unset;
}
.topic-post .like-form input[type=checkbox] {
    width: unset;
}
.topic-post .like-form input[type=submit] {
    background: rgba(0,0,0,0.05);
}
.topic-post .like .broadcasting {
    display: none;
}
.topic-post .like .broadcasting.show {
    display: inline-block;
}
.topic-post img.imgur {
    max-width: 50%;
    max-height: 200px;
}
.topic-post .video-container {
    border-width: 0 25px 10px 25px;
    border-style: solid;
    border-color: transparent;
}
#password-clear {
    display: none;
}
#password-clear a {
    color: #888;
    font-size: 14px;
    font-style: italic;
    text-decoration: none;
}
#password-clear a:hover {
    text-decoration: underline;
}
#topic-search-form {
    display: inline;
    margin-bottom: 0;
}
#topic-search-form label {
    min-width: unset;
    margin: 5px 0;
}
#topic-search-form input {
    margin: 5px 0;
}
a.block-link {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0;
}
.topics-index-head {
    margin-bottom: 10px;
}
img.imgur {
    max-width: 100%;
    display: block;
    margin: 10px auto;
}
#private-key-field {
    display: none;
}
.notice {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 10px 0;
}
.signup-notice {
    display: block;
    font-size: 12px;
    font-style: italic;
    margin: 5px 0;
}
.disclaimer {
    padding-left: 25px;
}
.disclaimer input {
    display: block;
    width: 13px;
    margin-left: -21px;
    float: left;
}
.disclaimer label {
    display: block;
    width: 100%;
    float: right;
    font-size: 12px;
}

.dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
}

.text-right-large {
    text-align: right;
}
@media (max-width: 991px) {
    .text-right-large {
        text-align: left;
    }
}
