body {
    overflow-y: scroll;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /* Fix for text-size-adjust being ignored: https://bugs.webkit.org/show_bug.cgi?id=FontBoosting */
    max-height: 1000000px;
    padding: 0;
    margin: 0;
}
html {
    font-family: sans-serif;
}

a {
    color: #487521;
}

h1 {
    margin-bottom: 10px;
}
h1 a {
    text-decoration: none;
    color: #000;
}
h1 a img {
    display: inline-block;
    vertical-align: bottom;
    width: 40px;
    height: 40px;
}

iframe {
    display: block;
    width: 100%;
    margin: 10px auto;
}
video {
    display: block;
    width: 100%;
    margin: 10px auto;
}
.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}
.video-container iframe,
.video-container video {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}


hr.no-margin {
    margin: 0;
}

span.inline {
    display: inline-block;
}

input[type=button]:hover,
input[type=submit]:hover {
    cursor: pointer;
}

select {
    width: 150px;
    max-width: 100%;
}
.center {
    text-align: center;
}
.clear {
    clear: both;
}

table.sortable td.bars span {
    display: block;
    width: 20px;
    height: 2px;
    margin: 3px 0;
    background: #444;
}
table.sortable td.bars:hover {
    cursor: ns-resize;
}
table.inline {
    display: inline;
    border: none;
}
table.left th {
    text-align: left;
}

a.btn.right {
    float: right;
}
a.btn-leave {
    color: #888;
    background: #eee;
}

a.disabled {
    pointer-events:none;
    color: #888;
    text-decoration: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar .logo {
    display: inline-block;
    width: 60px;
    height: 37px;
    margin-top: -3px;
    margin-right: 10px;
}
.navbar .dropdown img {
    widtH: 20px;
    height: 20px;
}
.navbar-brand {
    margin-right: 25px;
    padding: 10px 15px 20px;
    font-weight: bold;
}
.nav-item.notifications span {
    top: 3px;
}
@media (max-width: 991px) {
    .footer {
        text-align: center;
    }
}
.footer {
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.2);
}
.footer div {
    padding: 5px 0;
}
.footer div a {
    display: inline-block;
    margin: 0 10px;
}

.posts {
    padding: 15px 0;
}
.post {
    background: #fff;
    padding: 10px 10px 0 10px;
    margin-bottom: 15px;
    word-wrap: break-word;
    border: 1px solid #ccc;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    border-radius: 4px;
}
.post .name a:nth-of-type(1) {
    font-weight: bold;
    font-size: 18px;
}

.post .post {
    margin: 0 -9px 5px -5px;
}
.post .reply {
    margin: 5px 0 10px;
    border: 1px solid #eee;
    background: #fafafa;
    padding: 10px;
    color: #888;
}
.post .reply p {
    margin: 12px 0 5px;
}
.post .name {
    margin: 5px 0;
    line-height: 22px;
    word-break: break-all;
}
.post .message {
    margin: 12px 0;
    font-size: 32px;
}
.post .likes {
    margin: 10px 0;
}
.post .like {
    font-size: 12px;
    display: inline-block;
    vertical-align: bottom;
}
.post .like-form.hidden {
    display: none;
}
.post .like-form {
    display: inline-block;
    margin: 0;
}
.post .like-form label {
    width: unset;
    padding: 2px 5px;
    margin-left: 10px;
    vertical-align: bottom;
}
.post .like-form input[type=text] {
    width: 100px;
    display: inline-block;
}
.post .actions .glyphicon {
    margin-right: 10px;
    margin-top: -4px;
    vertical-align: middle;
}
.post .actions a {
    margin: 5px 0;
}
.post .creating,
.post .broadcasting {
    display: inline-block;
    margin: 5px 0;
}
.post .broadcasting.creating,
.post .broadcasting.hidden {
    display: none;
}
.post .actions {
    margin: 5px 0;
}
.post .reply-form {
    margin-bottom: 5px;
}
.post .actions .btn-leave {
    margin-left: 10px;
}
#notify {
    color: red;
    font-style: italic;
}
img.identicon {
    border: none;
    vertical-align: top;
    width: 24px;
    height: 24px;
    margin-right: 3px;
}
.reply img.identicon {
    width: 18px;
    height: 18px;
}
.profile .btn {
    word-break: break-word;
}
.profile .name {
    word-break: break-word;
}
.profile td:nth-child(2) {
    word-break: break-word;
}
.profile #qr-code {
    margin-top: 5px;
}
.profile #qr-code img {
    margin-top: 5px;
    height: 150px;
    width: 150px;
}

.profile .click-for-qr {
    font-size: 12px;
}

.message-byte-count.red {
    color: red;
}
.posts-nav {
    text-align: center;
}
.posts-nav a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    margin-right: 10px;
}
.posts-nav a:hover,
.posts-nav a.sel {
    text-decoration: underline;
}
span.page {
    display: inline-block;
    margin: 0 10px;
}

.pagination {
    display: block;
    text-align: center;
}
.pagination a {
    color: #000;
}
.pagination a.disabled {
    color: #888;
}

#about h3 {
    font-size: 1.1em;
    font-weight: bold;
}
.reputation-tooltip {
    position: relative;
}
.reputation-tooltip:hover > span {
    display: block;
}
.reputation-tooltip span {
    position: absolute;
    display: none;
    color: #000;
    background: #eee;
    border: 1px solid #333;
    top: 15px;
    left: 0;
    word-break: break-word;
    width: 250px;
    font-size: 12px;
    line-height: 16px;
    padding: 5px;
    text-align: left;
}
.reputation-tooltip:hover > span {
    display: block;
}
#broadcasting {
    display: inline-block;
    padding: 12px 10px 0 10px;
}
#broadcasting.hidden {
    display: none;
}
#password-clear {
    display: none;
    padding: 12px 10px 0 10px;
}
#password-clear.show {
    display: inline-block;
}
#all-posts {
    max-height: 50%;
    overflow-y: scroll;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
    border: 1px solid #eee;
}
@-moz-document url-prefix() {
    #all-posts {
        height: 50%;
    }
}
.topics-table tr td:nth-child(1) {
    max-width: 400px;
}
.topics-table a {
    color: #000;
}
.topic-post {
    padding: 5px 10px 5px 40px;
    word-break: break-word;
    border-bottom: 1px solid #eee;
}
.topic-post:nth-of-type(odd) {
    background: #f9f9f9;
}
.topic-post:last-of-type {
    border-bottom: none;
}
.topic-post .identicon {
    float: left;
    display: block;
    width: 24px;
    height: 24px;
    margin-top: 3px;
    margin-left: -32px;
}
.topic-post .post-wrapper {
    float: right;
    width: 100%;
}
.topic-post .post-header,
.topic-post .post-header p {
    margin: 0;
}
.topic-post .name {
    font-weight: bold;
}
.topic-post .name a {
    display: inline-block;
    margin-right: 5px;
    color: #000;
    text-decoration: none;
}
.topic-post .name a:hover {
    text-decoration: underline;
}
.topic-post .name .time {
    font-weight: normal;
    font-size: 12px;
    color: #888;
}
.topic-post .reputation {
    display: inline-block;
    margin-right: 5px;
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
}
.topic-post .like {
    font-size: 12px;
    display: inline-block;
}
.topic-post .like-info {
    font-style: italic;
}
.topic-post .reply-count {
    font-weight: normal;
}
.topic-post a.like-link {
    font-weight: normal;
    color: #888;
}
.topic-post .like-form {
    display: none;
    font-size: 12px;
}
.topic-post .like-form a {
    display: inline-block;
    padding-top: 4px;
}
.topic-post .like-form label {
    width: unset;
    padding-top: 4px;
}
.topic-post .like-form input {
    display: inline-block;
    width: 50px;
    margin: 0;
    vertical-align: top;
    min-width: unset;
}
.topic-post .like-form input[type=checkbox] {
    width: unset;
}
.topic-post .like-form input[type=submit] {
    background: rgba(0,0,0,0.05);
}
.topic-post .like .broadcasting {
    display: inline-block;
}
.topic-post .like .broadcasting.hidden {
    display: none;
}
.topic-post img.imgur {
    max-width: 50%;
    max-height: 200px;
}
.topic-post .video-container {
    border-width: 0 25px 10px 25px;
    border-style: solid;
    border-color: transparent;
}
#password-clear {
    display: none;
}
#password-clear a {
    color: #888;
    font-size: 14px;
    font-style: italic;
    text-decoration: none;
}
#password-clear a:hover {
    text-decoration: underline;
}
#topic-search-form {
    display: inline;
    margin-bottom: 0;
}
#topic-search-form label {
    min-width: unset;
    margin: 5px 0;
}
#topic-search-form input {
    margin: 5px 0;
}
a.block-link {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0;
}
.topics-index-head {
    margin-bottom: 10px;
}
img.imgur {
    max-width: 100%;
    display: block;
    margin: 10px auto;
}
#private-key-field {
    display: none;
}
.notice {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin: 10px 0;
}
.signup-notice {
    display: block;
    font-size: 12px;
    font-style: italic;
    margin: 5px 0;
}
.disclaimer {
    padding-left: 25px;
}
.disclaimer input {
    display: block;
    width: 13px;
    margin-left: -21px;
    float: left;
}
.disclaimer label {
    display: block;
    width: 100%;
    float: right;
    font-size: 12px;
}

.dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
}

.text-right-large {
    text-align: right;
}
@media (max-width: 991px) {
    .text-right-large {
        text-align: unset;
    }
}
h1.home-header {
    text-align: center;
    margin: 40px 0 20px;
}
.home-list {
    text-align: center;
}
.home-list ul {
    text-align: left;
    display: inline-block;
    width: 100%;
    max-width: 350px;
}
.home-list .glyphicon {
    margin-right: 15px;
}
.home-list p {
    text-align: center;
    margin: 20px 0;
}
.home-protocol-image {
    text-align: center;
}
.home-protocol-image img {
    width: 100%;
    border: 1px solid black;
    max-width: 450px;
}
.home-list .list-group-item {
    border-width: 1px 0 0 0;
}
.home-list .list-group-item:first-of-type {
    border-width: 0;
}
.home-list .signup-login a {
    margin: 5px 0;
}
#new-memo-form textarea {
    height: 100px;
}
.dashboard-actions {
    text-align: center;
}
.dashboard-actions a {
    margin: 5px 0;
}

table.notifications-table td:nth-child(1) {
    vertical-align: middle;
    text-align: center;
}
table.notifications-table td.like {
    color: #b00;
}
table.notifications-table td.reply {
    color: #487521;
}
.notify-post a {
    color: #aaa;
}
.notify-post .reply {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background: #f4f4f4;
}
table.notifications-table .name {
    font-size: 18px;
}
table.notifications-table .time-ago {
    color: #777;
}
table.notifications-table .tip {
    font-size: 14px;
    font-weight: bold;
}

body.dark {
    background: #2b3e50;
    color: #e0e0e0;
}
body.dark .post {
    background: #2b3e50;
    border-color: #666;
}
body.dark .table-striped>tbody>tr:nth-of-type(odd) {
    background: #304559;
}
body.dark .table>tbody>tr>td,
body.dark .table>tbody>tr>th,
body.dark .table>tfoot>tr>td,
body.dark .table>tfoot>tr>th,
body.dark .table>thead>tr>td,
body.dark .table>thead>tr>th {
    border-color: #666;
}
body.dark .post .reply {
    background-color: rgb(53, 72, 90);
    border-color: #666;
}
body.dark .btn-default {
    color: #e0e0e0;
    border-color: #666;
    background-color: rgb(53, 72, 90);
}
body.dark a.btn-leave {
    color: #888;
    border-color: #666;
    background-color: transparent;
}
body.dark a {
    color: #6eb332;
}
body.dark .pagination a {
    color: #e0e0e0;
}
body.dark .pagination a.disabled {
    color: #777;
}
body.dark .navbar-default {
    background: #2b3e50;
    border-color: #666;
}
body.dark .footer {
    border-color: #666;
}
body.dark .navbar-default .navbar-nav a,
body.dark .navbar-default .navbar-nav a:focus,
body.dark .navbar-default .navbar-nav a:hover {
    color: #e0e0e0;
}
body.dark .navbar-default .navbar-nav>.active>a,
body.dark .navbar-default .navbar-nav>.active>a:focus,
body.dark .navbar-default .navbar-nav>.active>a:hover {
    color: #e0e0e0;
    background: #374f66;
}
body.dark .nav>li>a:focus,
body.dark .nav>li>a:hover {
    background: #374f66;
}
body.dark .form-control {
    color: #e0e0e0;
    background: #374f66;
}
body.dark .topic-post:nth-of-type(odd) {
    background: #304559;
}
body.dark .topic-post {
    border-color: #666;
}
body.dark #all-posts {
    border-color: #666;
}
body.dark .topic-post .name a {
    color: #e0e0e0;
}
body.dark .navbar-default .navbar-nav>.open>a,
body.dark .navbar-default .navbar-nav>.open>a:focus,
body.dark .navbar-default .navbar-nav>.open>a:hover {
    color: #e0e0e0;
    background: #374f66;
}
body.dark .dropdown-menu {
    background: #374f66;
}
body.dark .dropdown-menu .divider {
    background: #666;
}
body.dark .dropdown-menu>li>a:focus,
body.dark .dropdown-menu>li>a:hover {
    color: #5e992b;
    background: #2b3e50;
}
body.dark .navbar-default .navbar-brand {
    color: #5e992b;
}
body.dark table.notifications-table td.like {
    color: #f00;
}
body.dark table.notifications-table td.reply {
    color: #5e992b;
}
body.dark .notify-post .reply {
    border-color: #3e5973;
    background: #374f66;
}
body.dark .notify-post a {
    color: #888;
}