{{ template "snippets/header.html" . }}

{{ template "posts/header.html" dict "Page" "archive" }}

<div class="bottom10">
    <a class="btn" href="posts/archive?day={{ .PrevDay }}">Prev Day</a>
    <span class="page">{{ .Day }}</span>
    <a class="btn {{ if .Today }}disabled{{ end }}" href="posts/archive?day={{ .NextDay }}">Next Day</a>
</div>
<div class="bottom10">
    <a class="{{ if eq .NextOffset 25 }}disabled{{ end }}" href="{{ .OffsetLink }}&offset={{ .PrevOffset }}">&lt; Prev Page</a>
    <span class="page">Page {{ .Page }}</span>
    <a class="" href="{{ .OffsetLink }}&offset={{ .NextOffset }}">Next Page &gt;</a>
</div>

{{ template "snippets/posts.html" dict "Posts" .Posts "TimeZone" .TimeZone }}

<p>
    <span class="page">Page {{ .Page }}</span>
    <a class="btn {{ if eq .NextOffset 25 }}disabled{{ end }}" href="{{ .OffsetLink }}&offset={{ .PrevOffset }}">&lt; Prev Page</a>
    <a class="btn" href="{{ .OffsetLink }}&offset={{ .NextOffset }}">Next Page &gt;</a>
</p>

{{ template "snippets/footer.html" . }}
