{{ template "snippets/header.html" . }}

{{ template "posts/header.html" dict "Page" "new" }}

<p style="margin:0">
    <a class="{{ if eq .NextOffset 25 }}disabled{{ end }}" href="posts/new?offset={{ .PrevOffset }}">&lt; Prev</a>
    <span class="page">Page {{ .Page }}</span>
    <a class="{{ if lt (len .Posts) 25 }}disabled{{ end }}" href="posts/new?offset={{ .NextOffset }}">Next &gt;</a>
</p>

{{ template "snippets/posts.html" dict "Posts" .Posts "TimeZone" .TimeZone }}

<p>
    <a class="{{ if eq .NextOffset 25 }}disabled{{ end }}" href="posts/new?offset={{ .PrevOffset }}">&lt; Prev</a>
    <span class="page">Page {{ .Page }}</span>
    <a class="{{ if lt (len .Posts) 25 }}disabled{{ end }}" href="posts/new?offset={{ .NextOffset }}">Next &gt;</a>
</p>

{{ template "snippets/footer.html" . }}
