{{ template "snippets/header.html" . }}

{{ template "posts/header.html" dict "Page" "personalized" "Username" .Username }}

<div class="bottom10">
    <a class="btn {{ if eq .Range "1h" }}sel{{ end }}" href="posts/personalized?range=1h">{{ T "last_hour" }}</a>
    <a class="btn {{ if eq .Range "24h" }}sel{{ end }}" href="posts/personalized?range=24h">{{ T "last_24_hours" }}</a>
    <a class="btn {{ if eq .Range "7d" }}sel{{ end }}" href="posts/personalized?range=7d">{{ T "last_7_days" }}</a>
    <a class="btn {{ if eq .Range "all" }}sel{{ end }}" href="posts/personalized?range=all">{{ T "all_time" }}</a>
</div>
<div>
    <a class="{{ if eq .NextOffset 25 }}disabled{{ end }}" href="{{ .OffsetLink }}&offset={{ .PrevOffset }}">&lt; {{ T "previous" }}</a>
    <span class="page">{{ T "page" }} {{ .Page }}</span>
    <a class="{{ if lt (len .Posts) 25 }}disabled{{ end }}" href="{{ .OffsetLink }}&offset={{ .NextOffset }}">{{ T "next" }} &gt;</a>
</div>

{{ template "snippets/posts.html" dict "Posts" .Posts "TimeZone" .TimeZone }}

<p>
    <a class="{{ if eq .NextOffset 25 }}disabled{{ end }}" href="{{ .OffsetLink }}&offset={{ .PrevOffset }}">&lt; {{ T "previous" }}</a>
    <span class="page">{{ T "page" }} {{ .Page }}</span>
    <a class="{{ if lt (len .Posts) 25 }}disabled{{ end }}" href="{{ .OffsetLink }}&offset={{ .NextOffset }}">{{ T "next" }} &gt;</a>
</p>

{{ template "snippets/footer.html" . }}
