{{ template "snippets/header.html" . }}

<div class="col-md-6 col-md-offset-3">

    <h2>Export Key</h2>

    <div id="private-key">
        <form id="key-password-form" method="post">
            <p>
                <label for="key-password">Key Password:</label>
                <input type="password" name="password" id="key-password" class="form-control" autocomplete="on"/>
            </p>
            <p>
                <input class="btn btn-primary" type="submit" value="Unlock"/>
                <a class="btn btn-default" href="/">Cancel</a>
            </p>
        </form>
    </div>

</div>

<script type="text/javascript">
    $(function () {
        MemoApp.Form.LoadKey({{ .Key.Id }}, $("#key-password-form"), $("#private-key"));
    });
</script>

{{ template "snippets/footer.html" . }}
