{{ template "snippets/header.html" . }}


<h3>Import Private Key</h3>

<form id="import-private-key">
    <p>
        <label for="private-key-name">Key Name</label>
        <input id="private-key-name" type="text" name="name"/>
    </p>
    <p>
        <label for="private-key-wif">WIF</label>
        <input id="private-key-wif" type="password" name="wif"/>
    </p>
    <p>
        <label for="private-key-password">Password</label>
        <input id="private-key-password" type="password" name="password"/>
    </p>
    <p>
        <input type="submit" value="Import Private Key"/>
    </p>
</form>

<script type="text/javascript">
    $(function() {
        MemoApp.Form.ImportPrivateKey($("#import-private-key"));
    });
</script>

{{ template "snippets/footer.html" . }}
