{{ template "snippets/header.html" . }}

<h2>Key</h2>

<table class="table left">
    <tr>
        <th>Id</th>
        <td>{{ .Key.Id }}</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>{{ .Key.Name }}</td>
    </tr>
    <tr>
        <th>Public Key</th>
        <td>{{ .Key.GetPublicKey.GetSerializedString }}</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>{{ .Key.GetPublicKey.GetAddress.GetEncoded }}</td>
    </tr>
    <tr>
        <th>Created</th>
        <td>{{ .Key.CreatedAt.Format "2006-01-02 15:04" }}</td>
    </tr>
    <tr>
        <th>Balance</th>
        <td>{{ formatBigInt .Balance }} satoshis ({{ formatBigFloat .BalanceBCH }} BCH)</td>
    </tr>
    <tr>
        <th>Actions</th>
        <td>
            <a class="btn" href="https://blockchair.com/bitcoin-cash/address/{{ .Key.GetPublicKey.GetAddress.GetEncoded }}">
                View on Blockchair
            </a>
        </td>
    </tr>
</table>

<br/>

<div id="private-key">
    <form id="key-password-form" method="post">
        <label for="key-password">Key Password:</label>
        <input autocomplete="new-password" type="password" name="password" id="key-password"/>
        <input type="submit" value="Unlock"/>
    </form>
</div>

<h3>Transactions</h3>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Hash</th>
        <th>Block Height</th>
        <th>Block Date (UTC)</th>
        <th>Value</th>
        <th>Created</th>
        <th>Actions</th>
    </tr>
{{ range .Transactions }}
    <tr>
        <td>{{ .Id }}</td>
        <td>
        {{ .GetChainHash.String }}
        </td>
        <td>{{ .GetBlockHeight }}</td>
        <td>{{ .GetBlockTime }}</td>
        <td>
        {{ range $address, $value := .GetValues }}
        {{ $address }}: {{ formatBigInt $value.GetValue }} satoshis ({{ formatBigFloat $value.GetValueBCH }} BCH)<br/>
        {{ end }}
        </td>
        <td>{{ .CreatedAt.Format "2006-01-02 15:04:05" }}</td>
        <td>
            <a class="btn" href="transaction/{{ .Id }}">View</a>
            <a class="btn" href="https://blockchair.com/bitcoin-cash/transaction/{{ .GetChainHash.String }}">View on
                Blockchair</a>
        </td>
    </tr>
{{ end }}
</table>

<br/>

<form id="refresh-transactions-form" method="post">
    <input type="submit" value="Refresh Transactions"/>
</form>

<script type="text/javascript">
    $(function () {
        MemoApp.Form.LoadKey({{ .Key.Id }}, $("#key-password-form"), $("#private-key"));
        MemoApp.Form.RefreshTransactions({{ .Key.Id }}, $("#refresh-transactions-form"));
    });
</script>

{{ template "snippets/footer.html" . }}
