{{ template "snippets/header.html" . }}

<h2>Key</h2>

<table class="table left">
    <tr>
        <th>Id</th>
        <td>{{ .Key.Id }}</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>{{ .Key.Name }}</td>
    </tr>
    <tr>
        <th>Public Key</th>
        <td>{{ .Key.GetPublicKey.GetSerializedString }}</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>{{ .Key.GetPublicKey.GetAddress.GetEncoded }}</td>
    </tr>
    <tr>
        <th>Created</th>
        <td>{{ .Key.CreatedAt.Format "2006-01-02 15:04" }}</td>
    </tr>
</table>

<br/>

<div id="private-key">
    <form id="key-password-form" method="post">
        <label for="key-password">Key Password:</label>
        <input autocomplete="new-password" type="password" name="password" id="key-password"/>
        <input type="submit" value="Unlock"/>
    </form>
</div>

<h3>Transactions</h3>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Key Id</th>
        <th>Address</th>
        <th>Block Height</th>
        <th>Block Date (UTC)</th>
        <th>Actions</th>
    </tr>
{{ range .Transactions }}
    <tr>
        <td>{{ .Id }}</td>
        <td>{{ .KeyId }}</td>
        <td>{{ .Key.GetPublicKey.GetAddress.GetEncoded }}</td>
        <td>{{ .Block.Height }}</td>
        <td>{{ .Block.Timestamp.Format "2006-01-02 15:04" }}</td>
        <td>
            <a href="transaction/{{ .Id }}">View</a>
        </td>
    </tr>
{{ end }}
</table>

<script type="text/javascript">
    $(function () {
        MemoApp.Form.LoadKey({{ .Key.Id }}, $("#key-password-form"), $("#private-key"));
    });
</script>

{{ template "snippets/footer.html" . }}
