<table class="table left">
    <tr>
        <th>Binary String</th>
        <td>{{ .PrivateKey.GetBinaryString }}</td>
    </tr>
    <tr>
        <th>GetBase58</th>
        <td>{{ .PrivateKey.GetBase58 }}</td>
    </tr>
    <tr>
        <th>GetBase58Compressed</th>
        <td>{{ .PrivateKey.GetBase58Compressed }}</td>
    </tr>
    <tr>
        <th>GetHex</th>
        <td>{{ .PrivateKey.GetHex }}</td>
    </tr>
    <tr>
        <th>GetHexCompressed</th>
        <td>{{ .PrivateKey.GetHexCompressed }}</td>
    </tr>
</table>
