<table class="table left table-striped">
    <tr>
        <th>WIF (base58)</th>
        <td>{{ .PrivateKey.GetBase58 }}</td>
    </tr>
    <tr>
        <th>WIF Compressed (base58)</th>
        <td>{{ .PrivateKey.GetBase58Compressed }}</td>
    </tr>
    <tr>
        <th>Raw Key (hex)</th>
        <td>{{ .PrivateKey.GetHex }}</td>
    </tr>
    <tr>
        <th>Raw Key (binary)</th>
        <td>
            <pre style="max-width:400px; overflow-x:scroll">{{ .PrivateKey.GetBinaryString }}</pre>
        </td>
    </tr>
    <tr>
        <th>QR: WIF Base58 Compressed</th>
        <td>
            <pre style="font-family: 'Courier New', 'Courier'; font-size: 5px">
            {{ print .QR }}
            </pre>
        </td>
    </tr>
</table>

<p>
    <a class="btn btn-primary" href="/">Back to Dashboard</a>
</p>
