{{ template "snippets/header.html" . }}

<div id="about">

    <h2>About</h2>

    <p>
        Memo team profiles:
        <a href="/profile/1F5GrRezwGokQhxmF4fYaBbbNrPPaeBqMm">@memo</a>
        (<a href="/profile/1QCBiyfwdjXDsHghBEr5U2KxUpM2BmmJVt">@jason</a>),
        <a href="/profile/13MuoY8fLzES35bNsMveiQR7eR93LtxBmy">@eric</a>
    </p>

    <p>
        For information about what Memo is, how it works, and why we're building it,
        visit the <a href="/introducing-memo">Introducing Memo</a> announcement.
    </p>

    <h2>FAQ</h2>

    <div>
        <h3>Where can I report a bug or feature request?</h3>
        Post a memo about it!
        You can also send me a message on Reddit (/u/arnold2040)
        or Telegram (@arnold2040).
    </div>

    <div>
        <h3>Does Memo have access to my private keys?</h3>
        Private keys are stored encrypted with the user's password.
        The key needs to be unencrypted to sign transactions,
        which is why it is required each time an action is performed.
        We do not have access to private keys.
        Users should make sure they make backups of keys in case the password is lost.
    </div>

    <div>
        <a name="reputation"></a>
        <a name="connectivity"></a>
        <h3>What is Connectivity?</h3>
        Connectivity is a number representing how connected a Memo account is from the perspective of your account.
        Currently it is the percentage of those you follow who follow the account.
        In other words, it's the number of shared 1st degree connections.
        We expect the calculation and meaning
        of connectivity to evolve into a reputation system over time as we identify additional useful inputs.
    </div>

    <div>
        <h3>How is the Personalized view determined?</h3>
        Memos in this view are sorted by how many of those you follow Like the memo in the time period selected.
    </div>

    <div>
        <h3>Is there a Memo mobile app?</h3>
        We currently do not have a mobile app, but we plan to create one soon.
    </div>

    <div>
        <h3>Is there an open source client for Memo?</h3>
        Our plan is to create an open source client eventually.
        We're currently focused on improving the site and then building a mobile app.
        The protocol is <a href="protocol">published</a>. Any developer can write a client using the specification.
    </div>

    <div>
        <h3>Why does the UI look like it's from the 90's?</h3>
        One of our philosophies is to keep things clean and simple.
        Right now we're probably in more of the Craiglist camp as far as design goes,
        but our goal is to be more along the lines of Google.
        We're working on it.
    </div>

</div>
<br/>

{{ template "snippets/footer.html" . }}
