{{ template "snippets/header.html" . }}

<h2>Block</h2>

<table class="table left">
    <tr>
        <th>Id</th>
        <td>{{ .Block.Id }}</td>
    </tr>
    <tr>
        <th>Height</th>
        <td>{{ .Block.Height }}</td>
    </tr>
    <tr>
        <th>Timestamp</th>
        <td>{{ .Block.Timestamp.Format "2006-01-02 15:04" }}</td>
    </tr>
    <tr>
        <th>Hash</th>
        <td>{{ .Block.GetChainhash.String }}</td>
    </tr>
    <tr>
        <th>Merkle Root</th>
        <td>{{ .Block.GetMerkleRoot.String }}</td>
    </tr>
    <tr>
        <th>Bits</th>
        <td>{{ .Block.Bits }}</td>
    </tr>
    <tr>
        <th>Nonce</th>
        <td>{{ .Block.Nonce }}</td>
    </tr>
    <tr>
        <th>TxnCount</th>
        <td>{{ .Block.TxnCount }}</td>
    </tr>
    <tr>
        <th>Version</th>
        <td>{{ .Block.Version }}</td>
    </tr>
</table>

<p>
    <a class="btn" href="block/0">&lt;&lt; First</a>
    &nbsp;
    <a class="btn" id="prev-btn" href="block/{{ .Block.PrevHeight }}">&lt; Prev Block</a>
    &nbsp;
    <a class="btn" id="next-btn" href="block/{{ .Block.NextHeight }}">Next Block &gt;</a>
    &nbsp;
    <a class="btn" href="block/10000000">Last &gt;&gt;</a>
</p>

<script type="text/javascript">
    $(function () {
        MemoApp.Form.BindBlockArrows($("#next-btn"), $("#prev-btn"))
    })
</script>

{{ template "snippets/block-form.html" . }}

{{ template "snippets/footer.html" . }}
