{{ template "snippets/header.html" . }}

<h2>Dashboard</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Created</th>
        <th>Actions</th>
    </tr>
{{ range .PrivateKeys }}
    <tr>
        <td>{{ .Id }}</td>
        <td>{{ .Name }}</td>
        <td>{{ .GetPublicKey.GetAddress.GetEncoded }}</td>
        <td>{{ .CreatedAt.Format "2006-01-02 15:04" }}</td>
        <td>
            <a href="key/{{ .Id }}">View</a>
            <a href="#" class="key-delete" data-id="{{ .Id }}">Delete</a>
        </td>
    </tr>
{{ end }}
</table>

<script type="text/javascript">
    $(function () {
        MemoApp.Form.DeleteKeys($(".key-delete"));
    });
</script>

<p>
    <a href="key/create" class="btn">Create Private Key</a>
    <a href="key/import" class="btn">Import Private Key</a>
</p>

{{ template "snippets/footer.html" . }}
