{{ template "snippets/header.html" . }}

<h2>Dashboard</h2>

<table class="table left">
    <tr>
        <th>Address</th>
        <td>{{ .Key.GetPublicKey.GetAddress.GetEncoded }}</td>
    </tr>
    <tr>
        <th>Balance</th>
        <td>{{ formatBigInt .Balance }} satoshis ({{ formatBigFloat .BalanceBCH }} BCH)</td>
    </tr>
    <tr>
        <th>Actions</th>
        <td>
            <a class="btn"
               href="https://blockchair.com/bitcoin-cash/address/{{ .Key.GetPublicKey.GetAddress.GetEncoded }}">
                View on Blockchair
            </a>
        </td>
    </tr>
</table>

{{ if eq .Balance 0 }}
<p>
    Send yourself some BCH to start posting.
</p>
{{ end }}

<p>
    <a class="btn" href="tests">View Tests</a>
    <a class="btn" href="memo/new">New Memo</a>
</p>

{{ template "snippets/footer.html" . }}
