{{ template "snippets/header.html" . }}

<div id="guides">

    <h2>Guides</h2>

    <div>
        <h3><a id="image"></a>How do I post an image?</h3>
        <ul>
            <li>Go to <a href="https://imgur.com/">imgur</a> and click <strong>New post</strong>.</li>
            <li>Click <strong>Choose File</strong> and find a file on your computer. </li>
            <li>Wait for the image to upload.</li>
            <li>Mouse over the image itself and click <strong>Copy</strong>. Note that imgur offers two links, and only one of them will work!<br>
                <img src="/img/guide-images-1.jpg">
            </li>
            <li>Click <strong>New Memo</strong> and paste the link. Also add any description text if needed. Memo will detect the link and embed the image when viewing the post.</li>
        </ul>

        <h3><a id="gif"></a>How do I post an animated GIF?</h3>
        <ul>
            <li>Go to <a href="https://giphy.com/">Giphy</a> and find or upload an animated GIF.</li>
            <li>Find the Links screen by clicking clicking <strong>Copy link</strong>.</li>
            <li>Copy the field called <strong>GIF Link</strong><br>
                <img src="/img/guide-gifs-1.jpg">
            </li>
            <li>On Memo, click <strong>New Memo</strong> and paste the link. Also add any description text if needed. Memo will detect the link and embed the GIF for viewing the post.</li>
        </ul>
    </div>
</div>

<br/>

{{ template "snippets/footer.html" . }}
