{{ template "snippets/header.html" . }}

<div id="guides">

    <h2>Guides</h2>

    <div>
        <h3>How do I post an image?</h3>
        <ul>
            <li>Go to <a href="https://imgur.com/">imgur</a> and click <strong>New post</strong>.</li>
            <li>Click <strong>Choose File</strong> and find a file on your computer. </li>
            <li>Wait for the image to upload.</li>
            <li>Mouse over the image itself and copy the link. Note that imgur offers two links, and only one of them will work!<br>
                <img src="/img/guide-images-1.jpg">
            </li>
        </ul>
    </div>
</div>

<br/>

{{ template "snippets/footer.html" . }}
