{{ template "snippets/header.html" . }}

<h2>Decentralized Social Network using the Bitcoin Cash Blockchain</h2>

<ul>
    <li>Create a profile</li>
    <li>Post, like, and reply to messages</li>
    <li>Native tipping</li>
    <li>Control your private key</li>
    <li>Import your key into your own front-end client</li>
    <li>All stored on the censorship-free blockchain</li>
</ul>

<p>
    <a href="protocol">Click here</a> to view the protocol
</p>

<p>
    <a class="btn btn-success btn-lg" href="signup">Signup</a>
    &nbsp; or &nbsp;
    <a class="btn btn-primary btn-lg" href="login">Login</a>
</p>

{{ template "snippets/footer.html" . }}
