{{ template "snippets/header.html" . }}

<h2>Memo Decentralized Social Network</h2>

<h3>Built on the Bitcoin Cash Blockchain</h3>

<ul>
    <li>Create a profile</li>
    <li>Post messages</li>
    <li>Native tipping</li>
    <li>Control your private key</li>
    <li>Censorship-proof</li>
    <!--<li>Import your key into your own front-end client</li>-->
    <li>Everything stored on the blockchain</li>
</ul>

<p>
    <a class="btn btn-success btn-lg" href="signup">Signup</a>
    &nbsp; or &nbsp;
    <a class="btn btn-primary btn-lg" href="login">Login</a>
</p>

{{ template "snippets/footer.html" . }}
