{{ template "snippets/header.html" . }}

<h2>Decentralized on-chain social network built on Bitcoin Cash</h2>

<br/>

<div class="col-md-6 home-list">
    <ul class="list-group">
        <li class="list-group-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Create a profile</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Post messages</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Native tipping</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Censorship-proof</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Everything stored on-chain</li>
        <li class="list-group-item"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Control your private key</li>
    </ul>
    <p>
        <a class="btn btn-success btn-lg" href="signup">Signup</a>
        &nbsp; or &nbsp;
        <a class="btn btn-primary btn-lg" href="login">Login</a>
    </p>
</div>

<div class="col-md-6 home-protocol-image">
    <a href="memo-protocol-visual.png" target="_blank">
        <img src="memo-protocol-visual.png"/>
    </a>
</div>

<div class="col-md-12">
    <br/>
</div>

{{ template "snippets/footer.html" . }}
