{{ template "snippets/header.html" . }}

<h2>{{ T "statistics" }}</h2>

<table class="table left table-striped">
    <tr>
        <th>{{ T "follow" 2 }}</th>
        <td>{{ formatBigInt .MemoFollowCount }}</td>
    </tr>
    <tr>
        <th>{{ T "like" 2 }}</th>
        <td>{{ formatBigInt .MemoLikeCount }}</td>
    </tr>
    <tr>
        <th>{{ T "posts" }}</th>
        <td>{{ formatBigInt .MemoPostCount }}</td>
    </tr>
    <tr>
        <th>{{ T "Names_set" }}</th>
        <td>{{ formatBigInt .MemoSetNameCount }}</td>
    </tr>
    <tr>
        <th>{{ T "Polls created" }}</th>
        <td>{{ formatBigInt .MemoPollQuestionCount }}</td>
    </tr>
    <tr>
        <th>{{ T "Poll votes" }}</th>
        <td>{{ formatBigInt .MemoPollVoteCount }}</td>
    </tr>
    <tr>
        <th>{{ T "Total" }} On-chain Actions</th>
        <th>{{ formatBigInt .MemoTotalActionCount }}</th>
    </tr>
</table>

<br/>
<br/>

{{ template "snippets/footer.html" . }}

