<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Option</th>
            <th>Tip</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        {{ range .Votes }}
        <tr>
            <td><a href="profile/{{ .GetProfileHashString }}">{{ .Name }}</a></td>
            <td>{{ .Option }}</td>
            <td>{{ .Tip }}</td>
            <td>{{ if .Message }}<a href="post/{{ .GetTxHashString }}">{{ .Message }}</a>{{ end }}</td>
        </tr>
        {{ end }}
        </tbody>
    </table>
</div>
