<p>

    <a class="{{ if (eq .Offset 0) }}disabled{{ end }}" href="feed?offset={{ .PrevOffset }}">< Prev</a>
    <span class="page">Page {{ .Page }}</span>
    <a class="{{ if lt (len .Posts) 25 }}disabled{{end}}" href="feed?offset={{ .NextOffset }}">Next ></a>
</p>

{{ template "snippets/posts.html" dict "Posts" .Posts "TimeZone" .TimeZone }}

<p>
    <a class="{{ if (eq .Offset 0) }}disabled{{ end }}" href="feed?offset={{ .PrevOffset }}">< Prev</a>
    <span class="page">Page {{ .Page }}</span>
    <a class="{{ if lt (len .Posts) 25 }}disabled{{end}}" href="feed?offset={{ .NextOffset }}">Next ></a>
</p>

{{ if eq .Profile.Balance 0 }}
<p>
    Send yourself some BCH to start posting.
</p>
{{ end }}
