<html>
<head>
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}"/>
    <base href="{{ .BaseUrl }}"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:type" content="summary"/>
    <meta name="og:title" content="{{ .Title }}"/>
    <meta name="og:description" content="{{ .Description }}"/>
    <meta name="og:image" content="https://memo.cash/logo.png"/>
    <meta name="twitter:site" content="@memobch"/>

    <link rel="shortcut icon" type="image/png" href="/logo.png"/>
{{ range $file := .cssFiles -}}
    <link rel="stylesheet" type="text/css" href="{{ $file }}"/>
{{ end -}}
{{ range $file := .jsFiles }}
    <script type="text/javascript" src="{{ $file }}"></script>
{{- end }}

    <script type="text/javascript">
        $(function () {
            MemoApp.InitCsrf("{{ .CsrfToken }}");
            MemoApp.SetBaseUrl("{{ .BaseUrl }}");
            MemoApp.Form.LogoutButton($("#header-logout"));
        });
    </script>
</head>
<body>

<div class="header">
    <div class="header-wrapper">
        <h1>
            <a href="">
                <img src="/logo.png"/>
                Memo
            </a>
        </h1>

        <div class="nav">
        {{ with .Username }}
            <a href="">Dashboard</a>
        {{ else }}
            <a href="">Home</a>
        {{ end }}
        {{ with .Username }}
            <a href="memo/new">New Memo</a>
        {{ end }}
            <a href="profiles">Profiles</a>
            <a href="new-posts">Posts</a>
        {{ with .Username }}
            <a id="header-logout" href="logout">Logout <b>{{ . }}</b></a>
        {{ else }}
            <a href="login">Login</a>
        {{ end }}
        </div>
    </div>
</div>

<div class="wrapper">

    <div class="container">

        <p class="notice">
        </p>

        <style type="text/css">
            .notice {
                font-weight: bold;
                font-style: italic;
                font-size: 14px;
            }
        </style>
