<html>
<head>
    <title>Bitcoin Node</title>
    <base href="{{ .BaseUrl }}"/>
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
{{ range $file := .cssFiles -}}
    <link rel="stylesheet" type="text/css" href="{{ $file }}"/>
{{ end -}}
{{ range $file := .jsFiles }}
    <script type="text/javascript" src="{{ $file }}"></script>
{{- end }}

    <script type="text/javascript">
        $(function () {
            MemoApp.InitCsrf("{{ .CsrfToken }}");
            MemoApp.SetBaseUrl("{{ .BaseUrl }}");
        });
    </script>
</head>
<body>

<h1>
    <a href="">
        <img src="/favicon.png"/>
        Bitcoin Node
    </a>
</h1>

<hr/>
