<div class="post">
    <div class="post-header">
    {{ if .Post.Parent }}
        <p class="reply-header">
            Replying to
            <span class="identicon-{{ .Post.Parent.Memo.GetAddressString }}">
                <img class="identicon"/>
            </span>
            <a href="post/{{ .Post.Parent.Memo.GetTransactionHashString }}">{{ .Post.Parent.Name }}'s
                post</a>
        </p>
    {{ end }}
        <p class="name">
        <span class="identicon-{{ .Post.Memo.GetAddressString }}">
            <img class="identicon"/>
        </span>
            <a href="profile/{{ .Post.Memo.GetAddressString }}">{{ $len := len .Post.Name }}
        {{- if gt $len 0 -}}
            {{ .Post.Name }}
        {{- else -}}
            {{ .Post.Memo.GetAddressString }}
        {{- end -}}
            </a>
        {{ if .Post.Reputation }}
            <span class="reputation-tooltip">
            (
        {{- if .Post.Reputation.IsDirectFollow }}Following, {{ end -}}
        {{ .Post.Reputation.GetPercentStringIncludingDirect -}}
            )
                <span>
                    Reputation is the percentage of people you follow that are following this person.
                    For more info visit the <a href="about#reputation">about page</a>.
                </span>
            </span>
        {{ end }}
        {{ if .Post.Memo.ParentTxHash }}
            replied to <a href="post/{{ .Post.Memo.GetParentTransactionHashString }}">post</a> at
        {{ else }}
            posted at
        {{ end }}
            <a href="post/{{ .Post.Memo.GetTransactionHashString }}">{{ .Post.GetTimeString .TimeZone }}</a>
        </p>
    </div>
    <p class="message">
    {{ .Post.GetMessage }}
    </p>
    <p class="likes">
        <i>
            <a href="post/{{ .Post.Memo.GetTransactionHashString }}">{{ len .Post.Likes }} likes</a>
        {{- if .Post.Likes }}
            (tip: {{ formatBigInt .Post.GetTotalTip }} satoshis)
        {{- end }},
            <a href="post/{{ .Post.Memo.GetTransactionHashString }}">{{ .Post.ReplyCount }} replies</a>
        </i>
    </p>
{{ if not .Compress }}
    <p class="actions">
    {{ if .Post.IsLoggedIn }}
        <a class="btn" href="memo/reply/{{ .Post.Memo.GetTransactionHashString }}">Reply</a>
        <a class="btn" href="memo/like/{{ .Post.Memo.GetTransactionHashString }}">Like</a>
    {{ end }}
        <a class="btn btn-leave" target="_blank"
           href="https://explorer.bitcoin.com/bch/tx/{{ .Post.Memo.GetTransactionHashString }}">
            View on Block Explorer</a>
    </p>
{{ end }}
</div>

<script type="text/javascript">
    var data = new Identicon('{{ .Post.Memo.GetAddressString }}', {
        foreground: [255, 255, 255, 0],
        background: [0, 0, 0, 255],
        size: 18,
        margin: 0
    }).toString();
    $(".identicon-{{ .Post.Memo.GetAddressString }}").html('<img class="identicon" src="data:image/png;base64,' + data + '">');
    {{ if .Post.Parent }}
    data = new Identicon('{{ .Post.Parent.Memo.GetAddressString }}', {
        foreground: [255, 255, 255, 0],
        background: [0, 0, 0, 255],
        size: 18,
        margin: 0
    }).toString();
    $(".identicon-{{ .Post.Parent.Memo.GetAddressString }}").html('<img class="identicon" src="data:image/png;base64,' + data + '">');
    {{ end }}
</script>
