<h3>Posts</h3>

<table class="table">
    <tr>
        <th>Tx Hash</th>
        <th>Address</th>
        <th>PK Script</th>
        <th>Message</th>
        <th>Time</th>
        <th>Created</th>
    </tr>
{{ range . }}
    <tr>
        <td>{{ .GetTransactionHashString }}</td>
        <td>{{ .GetAddressString }}</td>
        <td>{{ .GetScriptString }}</td>
        <td>{{ .GetMessage }}</td>
        <td>{{ .GetTimeString }}</td>
        <td>{{ .CreatedAt.Format "2006-01-02 15:04" }}</td>
    </tr>
{{ end }}
</table>
