{{ if not . }}
<h3>No Posts Yet</h3>
{{ else }}
<h3>Posts</h3>
{{ end }}

{{ range . }}
<div class="post">
    <p>
        <b>User:</b>
        <a href="profile/{{ .Memo.GetAddressString }}">
        {{ $len := len .Name }}
        {{ if gt $len 0 }}
            {{ .Name }}
        {{ else }}
            {{ .Memo.GetAddressString }}
        {{ end }}
        </a>
    </p>
    <p>
        <b>Time:</b> {{ .Memo.GetTimeString }}
    </p>
    <p>
    {{ .Memo.GetMessage }}
    </p>
    <p>
        <a class="btn btn-leave" target="_blank"
           href="https://blockchair.com/bitcoin-cash/transaction/{{ .Memo.GetTransactionHashString }}">
            View Memo on Blockchair</a>
    </p>
</div>
{{ end }}
