<div class="post rounded box-shadow" id="post-{{ .Post.Memo.GetTransactionHashString }}">
    <div class="post-header">
        <p class="name">
        <span class="identicon-{{ .Post.Memo.GetAddressString }}">
            <img class="identicon"/>
        </span>
            <a class="profile" href="profile/{{ .Post.Memo.GetAddressString }}">{{ $len := len .Post.Name }}
        {{- if gt $len 0 -}}
            {{ .Post.Name }}
        {{- else -}}
            {{ .Post.Memo.GetAddressString }}
        {{- end -}}
            </a>
        {{ if .Post.Reputation }}
            <span class="reputation-tooltip">
                (
            {{- if .Post.Reputation.IsDirectFollow -}}Following, {{ end -}}
            {{ .Post.Reputation.GetPercentStringIncludingDirect -}}
                )
                <span>
                    Shared Connections is the percentage of people you follow who are following this person.
                    For more info visit the <a href="about#connectivity">about page</a>.
                </span>
            </span>
        {{ end }}
        {{ if .Post.Memo.ParentTxHash }}
            replied to <a href="post/{{ .Post.Memo.GetParentTransactionHashString }}">post</a>
        {{ else }}
            {{ T "posted" }}
        {{ end }}
            <a title="{{ .Post.GetTimeString .TimeZone }}" href="post/{{ .Post.Memo.GetTransactionHashString }}">{{ .Post.GetTimeAgo }}</a>
        {{- if .Post.Memo.Topic }}
            in <a href="topic/{{ .Post.Memo.GetUrlEncodedTopic }}">{{ .Post.Memo.Topic }}</a>
        {{ end }}
        </p>
    </div>
{{ if .Post.Parent }}
    <div class="reply">
        Replying to
        <span class="identicon-{{ .Post.Parent.Memo.GetAddressString }}">
                <img class="identicon"/>
            </span>
        <a href="post/{{ .Post.Parent.Memo.GetTransactionHashString }}">{{ .Post.Parent.Name }}'s
            post</a>
        <p>{{ .Post.Parent.GetMessage }}</p>
    </div>
{{ end }}
    <p class="message">
    {{ .Post.GetMessage }}
    </p>
    <p class="likes">
        <i>
            <a href="post/{{ .Post.Memo.GetTransactionHashString }}">{{ len .Post.Likes }} {{ T "likes" }}</a>
        {{- if .Post.Likes }}
            (tip: {{ formatBigInt .Post.GetTotalTip }} satoshis)
        {{- end }},
            <a href="post/{{ .Post.Memo.GetTransactionHashString }}">{{ .Post.ReplyCount }} {{ T "replies" }}</a>
        </i>
    </p>
{{ if not .Compress }}
    <div class="actions">
    {{ if .Post.IsLoggedIn }}
        <a id="reply-link-{{ .Post.Memo.GetTransactionHashString }}" class="btn btn-default" href="memo/reply/{{ .Post.Memo.GetTransactionHashString }}">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>{{ T "reply" }}
        </a>
        <span class="creating hidden btn btn-warning">Creating...</span>
        <span class="broadcasting hidden btn btn-warning">Broadcasting...</span>
        <div class="like" id="like-{{ .Post.Memo.GetTransactionHashString }}">
            <span class="like-info" id="like-info-{{ .Post.Memo.GetTransactionHashString }}">
                <a class="btn btn-default like-link" id="like-link-{{ .Post.Memo.GetTransactionHashString }}"
                   href="#"><span class="glyphicon glyphicon-heart{{ if not .Post.HasLiked }}-empty{{ end }}" aria-hidden="true"></span>{{ T "like" 1 }}</a>
            </span>
            <form class="like-form hidden form-inline" id="like-form-{{ .Post.Memo.GetTransactionHashString }}">
                <label for="tip-{{ .Post.Memo.GetTransactionHashString }}">Tip</label>
                <input id="tip-{{ .Post.Memo.GetTransactionHashString }}" type="text" name="tip"
                       class="form-control input-sm"
                       placeholder="0" value="{{ .UserSettings.GetDefaultTipString }}"/>
                <input class="btn btn-sm btn-primary" type="submit" value="Like">
                <a href="#" class="like-cancel btn btn-sm btn-default" id="like-cancel-{{ .Post.Memo.GetTransactionHashString }}">Cancel</a>
            </form>
        </div>
    {{ end }}
        <a class="btn btn-leave right" target="_blank"
           href="https://explorer.bitcoin.com/bch/tx/{{ .Post.Memo.GetTransactionHashString }}">
        {{ T "view_on_block_explorer" }}</a>
        <div class="clear"></div>
    </div>
{{ end }}

{{ template "snippets/reply-form.html" dict "Post" .Post "Hidden" true "Threaded" false }}

</div>

<script type="text/javascript">
    (function() {
        var foreground = {{ if eq .UserSettings.Theme "dark" }}[224, 224, 224, 255]{{ else }}[0, 0, 0, 255]{{ end }};
        var background = [0, 0, 0, 0];
        var data = new Identicon('{{ .Post.Memo.GetAddressString }}', {
            foreground: foreground,
            background: background,
            size: 24,
            form: 'svg',
            margin: 0
        }).toString();
        $(".identicon-{{ .Post.Memo.GetAddressString }}").html('<img class="identicon" src="data:image/png;base64,' + data + '">');
    {{ if .Post.Parent }}
        data = new Identicon('{{ .Post.Parent.Memo.GetAddressString }}', {
            foreground: foreground,
            background: background,
            size: 18,
            form: 'svg',
            margin: 0
        }).toString();
        $(".identicon-{{ .Post.Parent.Memo.GetAddressString }}").html('<img class="identicon" src="data:image/png;base64,' + data + '">');
    {{ end }}
    {{ if .Post.IsLoggedIn }}
        MemoApp.Form.ReplyLink("{{ .Post.Memo.GetTransactionHashString }}");
        MemoApp.Form.NewLike($("#like-{{ .Post.Memo.GetTransactionHashString }}"), "{{ .Post.Memo.GetTransactionHashString }}", false);
    {{ end }}
    })();
</script>
