<table class="table left profile table-striped">
    <tr>
        <th>{{ T "name" }}</th>
        <td class="name">
            <span class="identicon-{{ .Profile.GetAddressString }}">
                <img class="identicon"/>
            </span>
        {{ .Profile.Name }}
        </td>
    </tr>
    <tr>
        <th>{{ T "address" }}</th>
        <td class="address">
        {{ .Profile.GetCashAddressString }}<br>
            <span class="click-for-qr"><a href="#" id="qr-code-link">Show QR code &amp; legacy address</a></span>
            <div id="qr-code">
                <img src="data:image/png;base64,{{ .Profile.Qr }}"/>
                <br/>
                <span class="click-for-qr">Legacy Address</span> <br>
            {{ .Profile.GetAddressString }}
            </div>
        </td>
    </tr>
    <tr>
        <th>{{ T "followers" }}</th>
        <td>
            <a href="profile/followers/{{ .Profile.GetAddressString }}">
            {{ .Profile.FollowerCount }}
            </a>
        </td>
    </tr>
    <tr>
        <th>{{ T "following" }}</th>
        <td>
            <a href="profile/following/{{ .Profile.GetAddressString }}">
            {{ .Profile.FollowingCount }}
            </a>
        </td>
    </tr>
{{ if .Reputation }}
    <tr>
        <th>{{ T "connections" }}</th>
        <td>
            <span class="reputation-tooltip">
        {{ if .IsSelf }}
            <b>This is you!</b>
        {{ end }}
        {{ if .Reputation.IsDirectFollow }}
            You follow <b>{{ .Profile.Name }}</b>! -
            <i>{{ .Profile.Reputation.GetTrustedFollowers }} of {{ .Profile.Reputation.GetTotalFollowing }}
                ({{ .Profile.Reputation.GetPercentString }})</i>
        {{ else }}
        {{ .Profile.Reputation.GetTrustedFollowers }} of the {{ .Profile.Reputation.GetTotalFollowing }}
            users you follow are following this person
            ({{ .Profile.Reputation.GetPercentString }}).
        {{ end }}
            <span>
                    Shared Connections is the percentage of people you follow who are following this person.
                    For more info visit the <a href="about#connectivity">about page</a>.
                </span>
            </span>
        </td>
    </tr>
{{ end }}
{{ if .HasBalance }}
    <tr>
        <th>{{ T "balance" }}</th>
        <td>{{ formatBigInt .Balance }} satoshis ({{ formatBigFloat .BalanceBCH }} BCH)</td>
    </tr>
{{ end }}
    <tr>
        <th>{{ T "profile" }}</th>
        <td>
        {{ .Profile.GetText }}
        </td>
    </tr>
    <tr>
        <th>{{ T "actions" }}</th>
        <td>
            <ul class="nav nav-pills">
            {{ if .CanFollow }}
                <li><a href="memo/follow/{{ .Profile.GetAddressString }}">{{ T "follow" 1 }} {{ .Profile.Name }}</a></li>
            {{ else if .CanUnfollow }}
                <li><a href="memo/unfollow/{{ .Profile.GetAddressString }}">{{ T "unfollow" }} {{ .Profile.Name }}</a></li>
            {{ end }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Block Explorer</a>
                    <ul class="dropdown-menu dropdown-menu-center">
                        <li><a target="_blank"
                               href="https://explorer.bitcoin.com/bch/address/{{ .Profile.GetAddressString }}">
                        {{ T "view_address_on_block_explorer" }}
                        </a></li>
                    {{ if .NameSet }}
                        <li><a target="_blank"
                               href="https://explorer.bitcoin.com/bch/tx/{{ .Profile.GetNameTx }}">
                        {{ T "view_name_on_block_explorer" }}
                        </a></li>
                    {{ end }}
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
</table>

<style type="text/css">
    #qr-code {
        display: none;
    }
</style>

<script type="text/javascript">
    (function() {
        $("#qr-code-link").click(function (e) {
            e.preventDefault();
            $("#qr-code").toggle();
        });
        var foreground = {{ if eq .UserSettings.Theme "dark" }}[255, 255, 255, 255]{{ else }}[0, 0, 0, 255]{{ end }};
        var background = [0, 0, 0, 0];
        var data = new Identicon('{{ .Profile.GetAddressString }}', {
            foreground: foreground,
            background: background,
            size: 24,
            margin: 0
        }).toString();
        $(".identicon-{{ .Profile.GetAddressString }}").html('<img class="identicon" src="data:image/png;base64,' + data + '">');
    })();
</script>
