<table class="table left profile">
    <tr>
        <th>Name</th>
        <td class="name">
            <span class="identicon-{{ .GetAddressString }}">
                <img class="identicon" />
            </span>
        {{ .Name }}
        </td>
    </tr>
    <tr>
        <th>Address</th>
        <td class="address">
            <span class="click-for-qr">Click for QR code & legacy address</span> <br>
             <a href="#" id="qr-code-link">{{ .GetCashAddressString }}</a>
            <div id="qr-code">
                <img src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data={{ .GetCashAddressString }}">
                <br/>
                <span class="click-for-qr">Legacy Address</span> <br>
                {{ .GetAddressString }}
            </div>
        </td>
    </tr>
    <tr>
        <th>Followers</th>
        <td>
            <a href="profile/followers/{{ .GetAddressString }}">
            {{ .FollowerCount }}
            </a>
        </td>
    </tr>
    <tr>
        <th>Following</th>
        <td>
            <a href="profile/following/{{ .GetAddressString }}">
            {{ .FollowingCount }}
            </a>
        </td>
    </tr>
{{ if .HasBalance }}
    <tr>
        <th>Balance</th>
        <td>{{ formatBigInt .Balance }} satoshis ({{ formatBigFloat .BalanceBCH }} BCH)</td>
    </tr>
{{ end }}
    <tr>
        <th>Actions</th>
        <td>
        {{ if .CanFollow }}
            <a class="btn" href="memo/follow/{{ .GetAddressString }}">Follow {{ .Name }}</a>
        {{ end }}
        {{ if .CanUnFollow }}
            <a class="btn" href="memo/unfollow/{{ .GetAddressString }}">Unfollow {{ .Name }}</a>
        {{ end }}
            <a class="btn btn-leave" target="_blank"
               href="https://explorer.bitcoin.com/bch/address/{{ .GetAddressString }}">
                View Address on Block Explorer
            </a>
        {{ if .NameSet }}
            <a class="btn btn-leave" target="_blank"
               href="https://explorer.bitcoin.com/bch/tx/{{ .GetNameTx }}">
                View Name on Block Explorer
            </a>
        {{ end }}
        </td>
    </tr>
</table>

<style type="text/css">
    #qr-code {
        display: none;
    }
</style>

<script type="text/javascript">
    $("#qr-code-link").click(function (e) {
        e.preventDefault();
        $("#qr-code").toggle();
    });
    var data = new Identicon('{{ .GetAddressString }}', {
        foreground: [255, 255, 255, 0],
        background: [0, 0, 0, 255],
        size: 18,
        margin: 0
    }).toString();
    $(".identicon-{{ .GetAddressString }}").html('<img class="identicon" src="data:image/png;base64,' + data + '">');
</script>
