<table class="table left profile">
    <tr>
        <th>Name</th>
        <td class="name">
            <span class="identicon-{{ .GetAddressString }}">
                <img class="identicon"/>
            </span>
        {{ .Name }}
        </td>
    </tr>
    <tr>
        <th>Address</th>
        <td class="address">
        {{ .GetCashAddressString }}<br>
            <span class="click-for-qr"><a href="#" id="qr-code-link">Show QR code &amp; legacy address</a></span>
            <div id="qr-code">
                <img src="https://api.qrserver.com/v1/create-qr-code/?size=100x100&data={{ .GetCashAddressString }}">
                <br/>
                <span class="click-for-qr">Legacy Address</span> <br>
            {{ .GetAddressString }}
            </div>
        </td>
    </tr>
    <tr>
        <th>Followers</th>
        <td>
            <a href="profile/followers/{{ .GetAddressString }}">
            {{ .FollowerCount }}
            </a>
        </td>
    </tr>
    <tr>
        <th>Following</th>
        <td>
            <a href="profile/following/{{ .GetAddressString }}">
            {{ .FollowingCount }}
            </a>
        </td>
    </tr>
{{ if .Reputation }}
    <tr>
        <th>Reputation</th>
        <td>
        {{ if .Reputation.IsDirectFollow }}
            You follow <b>{{ .Name }}</b>! -
            <i>{{ .Reputation.GetTrustedFollowers }} of {{ .Reputation.GetTotalFollowing }}
                ({{ .Reputation.GetPercentString }})</i>
        {{ else }}
        {{ .Reputation.GetTrustedFollowers }} of {{ .Reputation.GetTotalFollowing }}
            ({{ .Reputation.GetPercentString }})
        {{ end }}
            <span class="reputation-tooltip">?
                <span>
                    Reputation is the percentage of people you follow that are following this person.
                    For more info visit the <a href="about#reputation">about page</a>.
                </span>
            </span>
        </td>
    </tr>
{{ end }}
{{ if .HasBalance }}
    <tr>
        <th>Balance</th>
        <td>{{ formatBigInt .Balance }} satoshis ({{ formatBigFloat .BalanceBCH }} BCH)</td>
    </tr>
{{ end }}
    <tr>
        <th>Profile</th>
        <td>
        {{ .GetText }}
        </td>
    </tr>
    <tr>
        <th>Actions</th>
        <td>
        {{ if .CanFollow }}
            <a class="btn" href="memo/follow/{{ .GetAddressString }}">Follow {{ .Name }}</a>
        {{ else if .CanUnfollow }}
            <a class="btn" href="memo/unfollow/{{ .GetAddressString }}">Unfollow {{ .Name }}</a>
        {{ end }}
            <a class="btn btn-leave" target="_blank"
               href="https://explorer.bitcoin.com/bch/address/{{ .GetAddressString }}">
                View Address on Block Explorer
            </a>
        {{ if .NameSet }}
            <a class="btn btn-leave" target="_blank"
               href="https://explorer.bitcoin.com/bch/tx/{{ .GetNameTx }}">
                View Name on Block Explorer
            </a>
        {{ end }}
        </td>
    </tr>
</table>

<style type="text/css">
    #qr-code {
        display: none;
    }
</style>

<script type="text/javascript">
    $("#qr-code-link").click(function (e) {
        e.preventDefault();
        $("#qr-code").toggle();
    });
    var data = new Identicon('{{ .GetAddressString }}', {
        foreground: [255, 255, 255, 0],
        background: [0, 0, 0, 255],
        size: 18,
        margin: 0
    }).toString();
    $(".identicon-{{ .GetAddressString }}").html('<img class="identicon" src="data:image/png;base64,' + data + '">');
</script>
