{{ template "snippets/header.html" . }}

<h2>Create New Topic</h2>

<p>
    <i>Note: The longer the topic name, the shorter the messages can be.
    This applies to all messages with the topic, not just the first one.</i>
</p>

<form id="form-new-topic" method="post">
    <p>
        <label for="topic">Topic Name  <span class="name-byte-count"></span></label>
        <input id="topic" type="text" name="topic" class="form-control" placeholder="Topic name"
               required>
    </p>
    <p>
        <label for="message">First message <span class="message-byte-count"></span></label>
        <textarea id="message" type="text" name="message" class="form-control" placeholder="Message" autocomplete="on"
                  required autofocus></textarea>
    </p>
    <p>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" class="form-control" placeholder="Password"
               autocomplete="on" required>
    </p>
    <p>
        <label for="save-password">
            Save password
        </label>
        <input id="save-password" name="save-password" type="checkbox"/>
    </p>
    <p>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Create Topic">
        <a class="block-link" href="topics">Cancel</a>
    </p>
</form>

<script type="text/javascript">
    $(function () {
        MemoApp.Form.NewTopic($("#form-new-topic"));
    });
</script>

{{ template "snippets/footer.html" . }}
