{{ template "snippets/header.html" . }}

<h2>Create New Topic</h2>

<p>
    <i>Note: The longer the topic name, the shorter the messages can be.
    This applies to all messages with the topic, not just the first one.</i>
</p>

<form id="form-new-topic" method="post">
    <p>
        <label for="topic">Topic Name  <span class="name-byte-count"></span></label>
        <input id="topic" type="text" name="topic" class="form-control" placeholder="Topic name" required/>
    </p>
    <p>
        <label for="message">First message <span class="message-byte-count"></span></label>
        <textarea id="message" type="text" name="message" class="form-control" placeholder="Message"></textarea>
    </p>
    <p>
        <input class="btn btn-primary" type="submit" value="Create Topic">
        <a class="btn btn-default" href="topics">Cancel</a>
    </p>
</form>

<script type="text/javascript">
    $(function () {
        MemoApp.Form.NewTopic($("#form-new-topic"));
    });
</script>

{{ template "snippets/footer.html" . }}
