{{ template "snippets/header.html" . }}

<p><a href="topics/create">Create New Topic</a></p>

<h3>Existing Topics</h3>

{{ if and (eq .NextOffset 25) (lt (len .Topics) 25) }}{{ else }}
<div class="bottom10">
    <a class="{{ if eq .NextOffset 25 }}disabled{{ end }}" href="topics?offset={{ .PrevOffset }}">&lt; {{ T "previous" }}</a>
    <span class="page">{{ T "page" }} {{ .Page }}</span>
    <a class="{{ if lt (len .Topics) 25 }}disabled{{ end }}" href="topics?offset={{ .NextOffset }}">{{ T "next" }} &gt;</a>
</div>
{{ end }}

<table class="table left">
    <thead>
    <tr>
        <th>{{ T "Topic" }}</th>
        <th>Most recent post</th>
        <th>Total posts</th>
    </tr>
    </thead>
    <tbody>
    {{ range .Topics }}
    <tr>
        <td><a href="topic/{{ .Name }}">{{ .Name }}</a></td>
        <td>{{ .RecentTime.Format "2006-01-02 15:04:05 MST" }}</td>
        <td>{{ .Count }}</td>
    </tr>
    {{ end }}
    </tbody>
</table>

<br/>

{{ if and (eq .NextOffset 25) (lt (len .Topics) 25) }}{{ else }}
<div class="bottom10">
    <a class="{{ if eq .NextOffset 25 }}disabled{{ end }}" href="topics?offset={{ .PrevOffset }}">&lt; {{ T "previous" }}</a>
    <span class="page">{{ T "page" }} {{ .Page }}</span>
    <a class="{{ if lt (len .Topics) 25 }}disabled{{ end }}" href="topics?offset={{ .NextOffset }}">{{ T "next" }} &gt;</a>
</div>
{{ end }}

<br/>
<br/>

{{ template "snippets/footer.html" . }}
