<div class="topic-post" id="topic-post-{{ .Post.Memo.GetTransactionHashString }}">
    <a href="profile/{{ .Post.Memo.GetAddressString }}">
    <span class="identicon-{{ .Post.Memo.GetAddressString }}">
        <img class="identicon"/>
    </span>
    </a>
    <div class="post-wrapper">
    <div class="post-header">
    {{ if .Post.Parent }}
        <p class="reply-header">
            Replying to
            <span class="identicon-{{ .Post.Parent.Memo.GetAddressString }}">
                <img class="identicon"/>
            </span>
            <a href="post/{{ .Post.Parent.Memo.GetTransactionHashString }}">{{ .Post.Parent.Name }}'s
                post</a>
        </p>
    {{ end }}
        <div class="name">
            <a href="profile/{{ .Post.Memo.GetAddressString }}">{{ $len := len .Post.Name }}
        {{- if gt $len 0 -}}
            {{ .Post.Name }}
        {{- else -}}
            {{ .Post.Memo.GetAddressString }}
        {{- end -}}
            </a>
        {{ if .Post.Reputation }}
            <span class="reputation">
            <span class="reputation-tooltip">
                (
            {{- if .Post.Reputation.IsDirectFollow -}}Following, {{ end -}}
            {{ .Post.Reputation.GetPercentStringIncludingDirect -}}
                )
            </span>
        </span>
        {{ end }}
            <a class="time"
               href="post/{{ .Post.Memo.GetTransactionHashString }}" title="{{ .Post.GetTimeString .TimeZone }}">{{ .Post.GetTimeAgo }}</a>
            <div class="like" id="like-{{ .Post.Memo.GetTransactionHashString }}">
                <span class="like-info" id="like-info-{{ .Post.Memo.GetTransactionHashString }}">
                {{- if .Post.Likes }}
                    <a id="like-link-{{ .Post.Memo.GetTransactionHashString }}" href="#">
                    {{- len .Post.Likes }}
                        like{{ if not (eq (len .Post.Likes) 1) }}s{{ end }}</a>
                    (tip: {{ formatBigInt .Post.GetTotalTip }} satoshis)
                {{- else }}
                    <a class="like-link" id="like-link-{{ .Post.Memo.GetTransactionHashString }}" href="#">{{ T "like" 1 }}</a>
                {{- end }}
                {{- if not (eq .Post.ReplyCount 0) }}
                    <a class="reply-count" href="post/{{ .Post.Memo.GetTransactionHashString }}">{{ .Post.ReplyCount }} {{ T "replies" }}</a>
                {{ end }}
                </span>
                <form class="like-form" id="like-form-{{ .Post.Memo.GetTransactionHashString }}">
                    <input id="tx-hash-{{ .Post.Memo.GetTransactionHashString }}" type="hidden" name="tx-hash"
                           value="{{ .Post.Memo.GetTransactionHashString }}"/>
                    <label for="tip-{{ .Post.Memo.GetTransactionHashString }}">Tip</label>
                    <input id="tip-{{ .Post.Memo.GetTransactionHashString }}" type="text" name="tip"
                           class="form-control input-sm"
                           placeholder="0" value="{{ .UserSettings.GetDefaultTipString }}"/>
                    <input class="btn btn-sm btn-default" type="submit" value="Like">
                    <a href="#" id="like-cancel-{{ .Post.Memo.GetTransactionHashString }}">Cancel</a>
                </form>
                <span class="broadcasting hidden">Broadcasting...</span>
                <script type="text/javascript">
                    $(function () {
                        MemoApp.Form.NewTopicLike($("#like-{{ .Post.Memo.GetTransactionHashString }}"), "{{ .Post.Memo.GetTransactionHashString }}");
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="message">
    {{ .Post.GetMessage }}
    </div>
{{if .Post.HasMagnet}}
    <div id="message-{{.Post.Memo.Id}}">Finding Peers...</div>
    <script type="text/javascript">
        var client = []
        client['{{.Post.Memo.Id}}'] = new WebTorrent()
        var torrentId = '{{.Post.MagnetLink}}&tr=wss%3A%2F%2Ftracker.btorrent.xyz&tr=wss%3A%2F%2Ftracker.fastcast.nz&tr=wss%3A%2F%2Ftracker.openwebtorrent.com'
        client['{{.Post.Memo.Id}}'].add(torrentId, (torrent) => {
        // Torrents can contain many files. Let's use the .mp4 file
        var file = torrent.files.find((file) => {
            return file.name.endsWith('.mp4')
        })

        // Display the file by adding it to the DOM. Supports video, audio, image, etc. files
        if(file) {
            file.appendTo('#message-{{.Post.Memo.Id}}')
        } else {
            let el = document.getElementById('message-{{.Post.Memo.Id}}')
            el.innerHTML = 'No mp4 found in this torrent'
        }

        })
    </script>
{{end}}
    </div>
    <script type="text/javascript">
        (function() {
            var foreground = {{ if eq .UserSettings.Theme "dark" }}[224, 224, 224, 255]{{ else }}[0, 0, 0, 255]{{ end }};
            var background = [0, 0, 0, 0];
            var data = new Identicon('{{ .Post.Memo.GetAddressString }}', {
                foreground: foreground,
                background: background,
                size: 24,
                margin: 0
            }).toString();
            $(".identicon-{{ .Post.Memo.GetAddressString }}").html('<img class="identicon" src="data:image/png;base64,' + data + '">');
        })();
    </script>
    <div class="clear"></div>
</div>

<script type="text/javascript">
    $(function () {
        MemoApp.SetLastPostId({{ .Post.Memo.Id }});
        MemoApp.SetLastLikeId({{ .Post.GetLastLikeId }});
    });
</script>
